<template>
  <div>
    <div class="form-group">
      <input type="email" class="form-control" id="email" name="email"
      v-model.trim="$v.forgetpassword.email.$model" aria-describedby="email-help"
      placeholder="Email Address">
      <small id="email-help" class="form-text text-muted">
        <div v-if="$v.forgetpassword.email.$error">
          <div class="text-danger">
            {{ getEmailErrorMsg }}
          </div>
        </div>
      </small>
    </div>
    <button type="submit" :disabled="$v.$invalid || $v.$error" 
    class="btn btn-primary btn-submit">Send Password Reset Link</button>
  </div>
</template>
<script>
import App from '../app.js';
import { required, email } from 'vuelidate/lib/validators';
export default {
  data () {
    return {
      forgetpassword: {
        email: ''
      }
    }
  },  
  beforeCreate: function () {
    if (this.$session.exists()) {
      location.href = "/dashboard";
    }
  },
  validations: {
    forgetpassword: {
      email: { required, email }
    }
  },
  computed: {
    getEmailErrorMsg () {
      if(!this.$v.forgetpassword.email.required){
        return 'Email is required.';
      }
      if(!this.$v.forgetpassword.email.email){
        return 'Please enter a valid email address.';
      }
    }
  }
}
</script>