<template>
  <div>
    <b-alert :show="dismissCountDown" dismissible variant="danger"
      @dismissed="dismissCountDown=0">    
      <p>
        {{ messageErrors }}<br>
      </p> 
    </b-alert>
    <form v-on:submit.prevent="createLogin" novalidate id="login-form">
      <div class="form-group">
        <input type="email" class="form-control" id="email"
          v-model.trim="$v.login.email.$model" aria-describedby="email-help"
          placeholder="Email">
        <small id="email-help" class="form-text text-muted">
          <div v-if="$v.login.email.$error">
            <div class="text-danger">
              {{ getEmailErrorMsg }}
            </div>
          </div>
        </small>
      </div>
      <div class="form-group">
        <input type="password" class="form-control"
          id="password" v-model.trim="$v.login.password.$model"
          aria-describedby="password-help" placeholder="Password">
          <small id="password-help" class="form-text text-muted">
            <div v-if="$v.login.password.$error">
              <div class="text-danger">
                {{ getPasswordErrorMsg }}
              </div>
            </div>
          </small>
        </div>
        <button type="submit" :disabled="$v.$invalid || $v.$error" 
          class="btn btn-primary btn-submit">Login</button>
    </form>
  </div>
</template>
<script>
import App from '../app.js';
import { required, sameAs, minLength, email } from 'vuelidate/lib/validators';
export default {
  data () {
    return {
      login: {
        email: '',
        password: ''
      },
      messageErrors: '',
      dismissSecs:3 ,
      dismissCountDown: 0
    }
  },  
  beforeCreate: function () {
    if (this.$session.exists()) {
      location.href = "/dashboard";
    }
    else {
      axios.get('deleteSession')
      .then(Response => {
        // Delete Session is all laravel
      })
    }
  },
  validations: {
    login: {
      email: { required, email },
      password: { required, minLength: minLength(6) },
    }
  },
  computed: {
    getEmailErrorMsg () {
      if(!this.$v.login.email.required){
        return 'Email is required.';
      }
      if(!this.$v.login.email.email){
        return 'Please enter a valid email address.';
      }
    },
    getPasswordErrorMsg () {
      if(!this.$v.login.password.required){
        return 'Passwrod is required.';
      }
      if(!this.$v.login.password.email){
        return 'Password must have at least ' +
          this.$v.login.password.$params.minLength.min + ' letters.';
      }
    },
  },
  methods: {
    createLogin () {
      axios.post('/api/v1/login', this.login)
      .then(Response => {
        this.$session.start();
        this.$session.set('email', this.login.email);
        this.$session.set('user_id', this.login.id);
        this.$session.set('token', Response.data.access_token);
        this.login = {email:'', password:''};
        this.$v.$reset();
        location.href = "/dashboard";
      })
      .catch(Error => {
        this.messageErrors = Error.response.data.message;
        this.dismissCountDown = this.dismissSecs;
      })
    }
  }
}
</script>