<template>
  <div>
    <b-alert :show="dismissCountDown" dismissible variant="danger"
              @dismissed="dismissCountDown=0">    
      <p v-for="(messageErrors, index) in messageErrors" :key="index">
        {{ messageErrors[0] }}<br>
      </p> 
    </b-alert>
    <form v-on:submit.prevent="createRegister" id="register-form">
      <div class="form-group">
        <input type="email" class="form-control" id="email"
          v-model.trim="$v.register.email.$model" aria-describedby="email-help"
          placeholder="Email">
        <small id="email-help" class="form-text text-muted">
          <div v-if="$v.register.email.$error">
            <div class="text-danger">
              {{ getEmailErrorMsg }}
            </div>
          </div>
        </small>
      </div>  
      <div class="form-group">
        <input type="password" class="form-control" id="password" 
          v-model.trim="$v.register.password.$model"
          aria-describedby="password-help" placeholder="Password">
        <small id="password-help" class="form-text text-muted">
          <div v-if="$v.register.password.$error">
            <div class="text-danger">
              {{ getPasswordErrorMsg }}
            </div>
          </div>
        </small>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="confirm_password" 
          v-model.trim="$v.register.confirm_password.$model"
          aria-describedby="password-help" placeholder="Confirm password">
        <small id="confirm_password" class="form-text text-muted">
          <div v-if="$v.register.confirm_password.$error">
            <div class="text-danger">
              {{ getConfirmPasswordErrorMsg }}
            </div>
          </div>
        </small>
      </div>
      <button type="submit" :disabled="$v.$invalid || $v.$error"
        class="btn btn-primary btn-submit"> Register </button>
    </form>
  </div>
</template>
<script>
import App from '../app.js';
import { required, sameAs, minLength, email } from 'vuelidate/lib/validators';
export default {  
  data () {
    return {
      register: {
        email: '',
        password: '',
        confirm_password: ''
      },
      messageErrors: '',
      dismissSecs: 3,
      dismissCountDown: 0,
      user: '',
    }
  },
  validations: {
    register: {
      email: { required, email },
      password: { required, minLength: minLength(6) },
      confirm_password: { required, sameAsPassword: sameAs('password') }, 
    }
  },
  beforeCreate: function () {
    if (this.$session.exists()) {
      location.href = "/dashboard";
    }
  },
  computed: {
    getEmailErrorMsg () {
      if(!this.$v.register.email.required){
        return 'Email is required.';
      }
      if(!this.$v.register.email.email){
        return 'Please enter a valid email address.';
      }
    },
    getPasswordErrorMsg () {
      if(!this.$v.register.password.required){
        return 'Passwrod is required.';
      }
      if(!this.$v.register.password.email){
        return 'Password must have at least ' +
          this.$v.register.password.$params.minLength.min + ' letters.';
      }
    },
    getConfirmPasswordErrorMsg () {
      if(!this.$v.register.confirm_password.required){
        return 'Confirm password is required.';
      }
      if(!this.$v.register.confirm_password.email){
        return 'Passwords must be identical.';
      }
    }
  },
  methods: {
    createRegister () {
      axios.post('/api/v1/register', this.register)
      .then(Response => {
        this.register = {email:'', password:'', confirm_password:''};
        this.$v.$reset();
        this.$session.start();
        this.$session.set('email', Response.data.email);
        this.$session.set('token', Response.data.access_token);
        location.href = "/dashboard"; 
      })
      .catch(Error => {
        this.messageErrors = Error.response.data.errors;
        this.dismissCountDown = this.dismissSecs;
      })
    }
  }
}
</script>