<template>
  <div>
    <div class="form-group">
      <input type="password" class="form-control" id="password" name="password" 
      v-model.trim="$v.resetpassword.password.$model"
      aria-describedby="password-help" placeholder="Password">
      <small id="password-help" class="form-text text-muted">
        <div v-if="$v.resetpassword.password.$error">
          <div class="text-danger">
            {{ getPasswordErrorMsg }}
          </div>
        </div>
      </small>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password_confirmation" 
      id="confirm_password" v-model.trim="$v.resetpassword.confirm_password.$model"
      aria-describedby="password-help" placeholder="Confirm password">
      <small id="confirm_password" class="form-text text-muted">
        <div v-if="$v.resetpassword.confirm_password.$error">
          <div class="text-danger">
            {{ getConfirmPasswordErrorMsg }}
          </div>
        </div>
      </small>
    </div>
    <button type="submit" :disabled="$v.$invalid || $v.$error"
    class="btn btn-primary btn-submit"> Reset Password </button>
  </div>
</template>
<script>
import App from '../app.js';
import { required, sameAs, minLength } from 'vuelidate/lib/validators';
export default {  
  data () {
    return {
      resetpassword: {
        password: '',
        confirm_password: ''
      },
      errors: '',
      dismissSecs: 3,
      dismissCountDown: 0,
      user: '',
    }
  },
  beforeCreate: function () {
    if (this.$session.exists()) {
      location.href = "/dashboard";
    }
  },
  validations: {
    resetpassword: {
      password: { required, minLength: minLength(6) },
      confirm_password: { required, sameAsPassword: sameAs('password') }, 
    }
  },
  computed: {
    getPasswordErrorMsg () {
      if(!this.$v.resetpassword.password.required){
        return 'Passwrod is required.';
      }
      if(!this.$v.resetpassword.password.password){
        return 'Password must have at least ' +
          this.$v.resetpassword.password.$params.minLength.min + ' letters.';
      }
    },
    getConfirmPasswordErrorMsg () {
      if(!this.$v.resetpassword.confirm_password.required){
        return 'Confirm password is required.';
      }
      if(!this.$v.resetpassword.confirm_password.password){
        return 'Passwords must be identical.';
      }
    }
  }
}
</script>