.col-centered {
  margin: 0 auto;
  display: block;
}

#forgetpassword-page {
  width: 100%;
}

#forgetpassword-page .navbar {
  background-color: transparent;
  width: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#forgetpassword-page .navbar .signup-btn {
  border: 1px solid #000;
  padding-right: 20px;
  padding-left: 20px;
}

#forgetpassword-page #forgetpassword-section {
  margin-top: 5%;
}

#forgetpassword-page #forgetpassword-section a {
  color: #6c757d;
  text-decoration: none;
}

#forgetpassword-page #forgetpassword-section a:hover {
  color: #495057;
}

#forgetpassword-page #forgetpassword-section #forgetpassword-form .form-group input.form-control {
  border: 0;
  border-bottom: 2px solid;
  border-radius: 0;
  padding: 20px 5px;
  font-size: 18px;
}

#forgetpassword-page #forgetpassword-section #forgetpassword-form .form-group input.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#forgetpassword-page #forgetpassword-section #forgetpassword-form button.btn-submit {
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  border-radius: 0px;
  font-size: 18px;
}

