.col-centered {
  margin: 0 auto;
  display: block;
}

#home-page {
  width: 100%;
}

#home-page .navbar {
  background-color: transparent;
  width: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#home-page .navbar .signup-btn {
  border: 1px solid #000;
  padding-right: 20px;
  padding-left: 20px;
}

