<template>
  <div id="main-wrapper">
    <!-- Header -->
      <Header></Header>
    <!-- End header -->
    <!-- Left Sidebar  -->
      <Sidebar></Sidebar>
    <!-- End Left Sidebar  -->
    <!-- Body page wrapper  -->
      <div class="page-wrapper">
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <div class="form-validation">
                      <div class="form-group row">
                        <div class="col-lg-12" v-if="dnsInfo == ''">
                          <input type="text" class="form-control" v-model="data.domain" id="val-username" name="val-username" placeholder="Domain"><br>
                          <!-- <input type="text" class="form-control" v-model="data.ipaddress" id="val-address" name="val-address" placeholder="Default IP Address"><br> -->
                          <input type="text" class="form-control" name="val-username"
                            id="val-address" v-model.trim="$v.data.ipaddress.$model"
                            aria-describedby="ipAddress-help" placeholder="Default IP Address">
                          <small id="ipAddress-help" class="form-text text-muted">
                            <div v-if="$v.data.ipaddress.$error">
                              <div class="text-danger">
                                {{ getIPErrorMsg }}
                              </div>
                            </div>
                          </small><br>
                          <button :disabled="$v.$invalid" v-on:click="addDns()" class="btn btn-info" style="width:100%"> Add Dns Key </button>
                        </div>
                        <div class="col-lg-12" v-if="dnsInfo != ''">
                          <input type="text" class="form-control" v-model="data.domain" id="val-username" name="val-username" placeholder="Domain"><br>
                          <!-- <input type="text" class="form-control" v-model="data.ipaddress" id="val-address" name="val-address" placeholder="Default IP Address"><br> -->
                          <input type="text" class="form-control" name="val-username"
                            id="val-address" v-model.trim="$v.data.ipaddress.$model"
                            aria-describedby="ipAddress-help" placeholder="Default IP Address">
                          <small id="ipAddress-help" class="form-text text-muted">
                            <div v-if="$v.data.ipaddress.$error">
                              <div class="text-danger">
                                {{ getIPErrorMsg }}
                              </div>
                            </div>
                          </small><br>
                          <button :disabled="$v.$invalid" v-on:click="editDns(dnsInfo.id)" class="btn btn-info" style="width:100%"> Edit Dns Key </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
        <!-- End footer -->
      </div>
    <!-- End Body page wrapper  -->
  </div>
</template>
<script>
import App from '../../app.js';
import Header from './header.vue';
import Sidebar from './sidebar.vue';
import { required, ipAddress } from 'vuelidate/lib/validators';
import swal from 'sweetalert2';
import Axios from 'axios';

export default {
  data () {
    return {
      user: this.$session.getAll(),
      configHeaders: {
        headers: {
          'Accept' : 'application/json',
          'Authorization' : 'Bearer ' + this.$session.get('token'),
        }
      },
      data: {
        domain: "",
        ipaddress: "",
        email: this.$session.getAll().email
      },
      dnsInfo: this.dns_info
    }
  },
  components: { Header, Sidebar },
  validations: {
    data: {
      // locationServer: { required },
      domain: { required },
      ipaddress: { required, ipAddress },
    }
  },
  computed: {
    getIPErrorMsg () {
      if(!this.$v.data.ipaddress.ipAddress){
        return 'No IP address';
      }
    },
  },
  props: ['dns_info'],
  mounted() {
    if(this.dnsInfo != undefined) {
      this.dnsInfo = JSON.parse(this.dnsInfo);
      this.data.domain = this.dnsInfo.domain;
      this.data.ipaddress = this.dnsInfo.ipaddress;
      // console.log(this.dnsInfo);
    } else {
      this.dnsInfo = "";
    }
  },
  methods: {
    addDns () {
      axios.post('/me/adddns', this.data)
      .then(Response => {
        if(Response.data == "created") {
          swal("DNS created.", "", "success")
            .then((value) => {
              window.location.href = "/server";
            });
        }
      })
     .catch(Error => {
      
      })
    },
    editDns(id) {
      axios.put('/me/updatedns/'+id, this.data)
      .then(Response => {
        if(Response.data == "updated") {
          swal("DNS updated.", "", "success")
            .then((value) => {
              window.location.href = "/server";
            });
        }
      })
     .catch(Error => {
      
      })
    }
  }
}
</script>