<template>
  <div id="main-wrapper">
    <!-- Header -->
      <Header></Header>
    <!-- End header -->
    <!-- Left Sidebar  -->
      <Sidebar></Sidebar>
    <!-- End Left Sidebar  -->
    <!-- Body page wrapper  -->
      <div class="page-wrapper">
        <!-- Container fluid  -->
        <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row">
            <!-- Column -->
            <div class="col-lg-12">
              <div class="card">
                <!-- Tab panes -->
                <div class="tab-content"><br>
                  <!-- Profile -->
                  <div>
                    <div class="card-body">
                      <div class="contact100-form">

                        <div class="rs1-wrap-input70">
                        </div>
                        <div class="wrap-input100 bg1 rs1-wrap-input30" v-if="!edit">
                          <span class="label-input100">Role</span>
                          <input class="input100" type="text" v-model="showData.role_name" placeholder="Roles" disabled>
                        </div>
                        <div class="wrap-input100 bg0 rs1-wrap-input30" v-else>
                          <span class="label-input100">Role</span>
                          <b-form-select data-live-search="true" class="input100 selectpicker" v-model="editData.role_name" >
                            <option disabled  value="" selected>Please select Roles</option>
                            <option v-for="role in role" :key="role.index" > {{role.name}}</option>
                          </b-form-select>
                        </div>

                        <div class="wrap-input100 bg1 rs1-wrap-input50" v-if="!edit">
                          <span class="label-input100">First Name</span>
                          <input class="input100" type="text" v-model="showData.first_name" placeholder="First Name" disabled>
                        </div>
                        <div class="wrap-input100 bg0 rs1-wrap-input50" v-else>
                          <span class="label-input100">First Name</span>
                          <input class="input100" v-model.trim="$v.editData.first_name.$model"
                          aria-describedby="password-help" type="text" placeholder="First Name">
                          <small id="password-help" class="form-text text-muted">
                            <div v-if="$v.editData.first_name.$error">
                              <div class="text-danger">
                                {{ getFirstName }}
                              </div>
                            </div>
                          </small>
                        </div>

                        <div class="wrap-input100 bg1 rs1-wrap-input50" v-if="!edit">
                          <span class="label-input100">Last Name</span>
                          <input class="input100" type="text" v-model="showData.last_name" placeholder="Last Name" disabled>
                        </div>
                        <div class="wrap-input100 bg0 rs1-wrap-input50" v-else>
                          <span class="label-input100">Last Name</span>
                          <input class="input100" v-model.trim="$v.editData.last_name.$model"
                          aria-describedby="password-help" type="text" placeholder="Last Name">
                          <small id="password-help" class="form-text text-muted">
                            <div v-if="$v.editData.last_name.$error">
                              <div class="text-danger">
                                {{ getLastName }}
                              </div>
                            </div>
                          </small>
                        </div>

                        <div class="wrap-input100 bg1">
                          <span class="label-input100">Email</span>
                          <input class="input100" type="text" v-model="showData.email" placeholder="Email" disabled>
                        </div>
                        
                        <div class="wrap-input100 bg1" v-if="!edit">
                          <span class="label-input100">Phone number (Ex. xxx-xxx-xxxx, xxx-xxxxxxx)</span>
                          <input class="input100" v-model="showData.phone_number" type="text" placeholder="Phone number" disabled>
                        </div>
                        <div class="wrap-input100 bg0" v-else>
                          <span class="label-input100">Phone number (Ex. xxx-xxx-xxxx, xxx-xxxxxxx)</span>
                          <input class="input100" v-model="editData.phone_number" 
                            type="text" placeholder="Phone number"
                            v-validate="{ required: true, min:10, max:15,
                            regex: /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4,5})|\(?([0-9]{3})\)?([ .-]?)([0-9]{3})([0-9]{4,5})/ }" 
                            name="Phone number">
                          <small id="password-help" class="form-text text-muted">
                            <div v-if="errors.has('Phone number')" class="text-danger">
                              {{errors.first('Phone number')}}
                            </div>
                          </small>
                        </div>

                        <div class="wrap-input100 bg1" v-if="!edit">
                          <span class="label-input100">Address</span>
                          <input class="input100" type="text" v-model="showData.address" placeholder="Address" disabled>
                        </div>
                        <div class="wrap-input100 bg0" v-else>
                          <span class="label-input100">Address</span>
                          <input class="input100" v-model.trim="$v.editData.address.$model"
                          aria-describedby="password-help" type="text" placeholder="Address">
                          <small id="password-help" class="form-text text-muted">
                            <div v-if="$v.editData.address.$error">
                              <div class="text-danger">
                                {{ getAddress }}
                              </div>
                            </div>
                          </small>
                        </div>

                        <div class="wrap-input100 bg1" v-if="!edit">
                          <span class="label-input100">Address (line2)</span>
                          <input class="input100" type="text" v-model="showData.address_line2" placeholder="Address (line2)" disabled>
                        </div>
                        <div class="wrap-input100 bg0" v-else>
                          <span class="label-input100">Address (line2)</span>
                          <input class="input100" type="text" v-model="editData.address_line2" placeholder="Address (line2)">
                        </div>

                        <div class="wrap-input100 bg1 rs1-wrap-input70" v-if="!edit">
                          <span class="label-input100">City</span>
                          <input class="input100" type="text" v-model="showData.city" placeholder="City" disabled>
                        </div>
                        <div class="wrap-input100 bg0 rs1-wrap-input70" v-else>
                          <span class="label-input100">City</span>
                          <input class="input100" v-model.trim="$v.editData.city.$model"
                          aria-describedby="password-help" type="text" placeholder="City">
                          <small id="password-help" class="form-text text-muted">
                            <div v-if="$v.editData.city.$error">
                              <div class="text-danger">
                                {{ getAddress }}
                              </div>
                            </div>
                          </small>
                        </div>

                        <div class="wrap-input100 bg1 rs1-wrap-input30" v-if="!edit">
                          <span class="label-input100">Zip Code</span>
                          <input class="input100" type="text" v-model="showData.zip_code" placeholder="Zip Code" disabled>
                        </div>
                        <div class="wrap-input100 bg0 rs1-wrap-input30" v-else>
                          <span class="label-input100">Zip Code</span>
                          <div v-if="editData.country === 'Thailand'">
                            <input class="input100" v-model.trim="$v.editData.zip_code.$model"
                            aria-describedby="password-help" type="text" placeholder="Zip Code" 
                            v-validate="'required|digits:5'">
                          </div>
                          <div v-if="editData.country !== 'Thailand'">
                            <input class="input100" v-model.trim="$v.editData.zip_code.$model"
                            aria-describedby="password-help" type="text" placeholder="Zip Code" 
                            v-validate="'required'" name="Zip Code">
                          </div>
                          <small id="password-help" class="form-text text-muted">
                            <div v-if="$v.editData.zip_code.$error && editData.country !== 'Thailand'">
                              <div class="text-danger">
                                {{ getZipCode }}
                              </div>
                            </div>
                            <div v-if="editData.country === 'Thailand'">
                              <div v-if="errors.has('Zip Code')" class="text-danger">
                                {{errors.first('Zip Code')}}
                              </div>
                            </div>
                          </small>
                        </div>

                        <div class="wrap-input100 bg1" v-if="!edit">
                          <span class="label-input100">Country / Region</span>
                          <input class="input100" type="text" v-model="showData.country" placeholder="Country / Region" disabled>
                        </div>
                        <div class="wrap-input100 bg0" v-else>
                          <span class="label-input100">Country / Region</span>
                          <b-form-select data-live-search="true" class="input100 selectpicker" v-model="editData.country" >
                            <option disabled  value="null" selected>Please select country</option>
                            <option v-for="country in countriesAPI" :key="country.index" > {{country.country}}</option>
                          </b-form-select>
                        </div>

                        <div class="wrap-input100 bg1" v-if="!edit">
                          <span class="label-input100">Company</span>
                          <input class="input100" type="text" v-model="showData.company" placeholder="Company" disabled>
                        </div>
                        <div class="wrap-input100 bg0" v-else>
                          <span class="label-input100">Company</span>
                          <input class="input100" type="text" v-model="editData.company" placeholder="Company">
                        </div>
                      </div>
                      <div class="container-contact100-form-btn">
                        <div class="box50" align="center">
                          <button v-on:click="goBack" type="button" class="contact50-form-btn btn btn-info" v-if="!edit"><i class="fa fa-reply" aria-hidden="true"></i> Go back </button>
                        </div>
                        <div class="box50" align="center">
                          <button v-on:click="editUser" type="button" class="contact50-form-btn btn btn-success" v-if="!edit && !buttonEdit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit User </button>
                        </div>
                        <div class="box50" align="center">
                          <button :disabled="$v.$invalid || $v.$error || errors.any()" v-on:click="updateUser(user,editData)" type="button" class="contact50-form-btn btn btn-outline-info" v-if="edit"> Update Prpfile </button>
                        </div>
                        <div class="box50" align="center">
                          <button v-on:click="cancelEdit" type="button" class="contact50-form-btn btn btn-outline-danger" v-if="edit"> Cancel </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
          </div>
          <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
        <!-- End footer -->
      </div>
    <!-- End Body page wrapper  -->
  </div>
</template>
<script>
import App from '../../app.js';
import Header from './header.vue';
import Sidebar from './sidebar.vue';
import { required, alpha, numeric } from 'vuelidate/lib/validators';
import swal from 'sweetalert2';
export default {
  data () {
    return {
      edit: false,
      buttonEdit: false,
      user: this.$session.get('user'),
      showData: {},
      editData: {},
      countries: '',
      countriesAPI: '',
      dismissSecs: 3,
      dismissCountDown: 0,
      message: '',
      configHeaders: {
        headers: {
          'Accept' : 'application/json',
          'Authorization' : 'Bearer ' + this.$session.get('token'),
        }
      },
    }
  },
  components: { Header, Sidebar },
  validations: {
    editData: {
      first_name: { required, alpha },
      last_name: { required, alpha },
      address: { required },
      city: { required },
      zip_code: { required },
    }
  },
  computed: {
    getFirstName () {
      if(!this.$v.editData.first_name.alpha){
        return 'The field under validation may only contain alphabetic characters.';
      }
      if(!this.$v.editData.first_name.required){
        return 'The field is required.';
      }
    },
    getLastName () {
      if(!this.$v.editData.last_name.required){
        return 'The field is required.';
      }
      if(!this.$v.editData.last_name.alpha){
        return 'The field under validation may only contain alphabetic characters.';
      }
    },
    getZipCode () {
      if(!this.$v.editData.zip_code.required){
        return 'The field is required.';
      }
      if(!this.$v.editData.zip_code.numeric){
        return 'The field must be numeric.';
      }
    },
    getAddress () {
      if(!this.$v.editData.address.required){
        return 'The field is required.';
      }
      if(!this.$v.editData.city.required){
        return 'The field is required.';
      }
    },
  },
  beforeCreate: function () {
    if (!this.$session.exists()) {
      location.href = "/";
    }
  },
  created () {
    this.dataUser();
    this.getCountriesListAPI();
  },
  methods: {
    dataUser () {
      axios.get('/api/v1/adminShowdata/' + this.user, this.configHeaders)
      .then(Response => {
        this.showData = Response.data.user
        this.role = Response.data.role
      })
      .catch(Error => {
        this.buttonEdit = true;
        this.message = "You ineligible edit profile."
        this.dismissCountDown = this.dismissSecs;
      })
    },
    goBack () {
      this.$session.remove('user');
      location.href = "/list";
    },
    getCountriesListAPI () {
      fetch('https://restcountries.eu/rest/v2/all')
      .then(res => res.json())//response type
      .then(data => {
        this.countriesAPI = [];
        for (var i = 0; i < data.length; ++i) {
          var country = data[i].name;
          var alphaCode = data[i].alpha2Code;
          var alphaCode2 = data[i].alpha3Code;
          var callingCode = data[i].callingCodes[0];
          var capital = data[i].capital;
          var region = data[i].region;
          var subregion = data[i].subregion;
          
          this.countriesAPI.push({
            country: country,
            alphaCode: alphaCode,
            alphaCode2: alphaCode2,
            callingCode: callingCode,
            capital: capital,
            region: region,
            subregion: subregion,
          })
        }
      }); //log the data;
    },
    updateUser (oldUser, newUser) {
      swal({
        title: 'Are you sure?',
        text: '',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, update it!'
      })
      .then((result) => {
        if (result.value) {
          axios.put('/api/v1/adminUpdate/' + oldUser, newUser, this.configHeaders)
          .then(Response => {
            this.dataUser ()
            this.cancelEdit ()    
            swal({
              type: 'success',
              title: 'Update Success !',
              showConfirmButton: false,
              timer: 1500
            })
          })
        }
      })
    },
    editUser () {
      this.edit = true
      this.editData = this.showData
    },
    cancelEdit () {
      this.edit = false
      this.dataUser ()
    },
  }
}
</script>
<style>
  @import url('../../../../../public/css/from_profile.css');
</style>
