<template>
  <div class="header">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
      <!-- Logo -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/dashboard">
          <!-- Logo icon -->
          <b><img v-for="img in images" v-bind:src="img" width="35" height="35" alt="homepage" class="dark-logo" /></b>
          <!--End Logo icon -->
          <!-- Logo text -->
          <span><img v-for="imge in image" v-bind:src="imge" alt="homepage" class="dark-logo" /></span>
        </a>
      </div>
      <!-- End Logo -->
      <div class="navbar-collapse">
        <!-- toggle and nav items -->
        <ul class="navbar-nav mr-auto mt-md-0">
          <!-- This is  -->
          <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
          <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
        </ul>
        <!-- User profile and search -->
        <ul class="navbar-nav my-lg-0">
          <!-- Profile -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted" href="#" data-toggle="dropdown" 
              aria-haspopup="true" aria-expanded="false">
              <img v-if="(profile.first_name && profile.last_name) === null" src="images/users/default.png" alt="user" class="profile-pic"/>
              <p v-else> {{ profile.first_name + ' ' + profile.last_name }} </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
              <ul class="dropdown-user">
                <li><a href="me/profile"><i class="ti-user"></i> Profile </a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" v-on:click="logout"><i class="fa fa-power-off"></i> Logout </a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>
<script>
import App from '../../app.js';
export default {
  data () {
    return {
      user: this.$session.getAll(),
      profile: {},
      configHeaders: {
        headers: {
          'Accept' : 'application/json',
          'Authorization' : 'Bearer ' + this.$session.get('token'),
        }
      },
      images: ['/images/blue.png'],
      image: ['/images/logo-text.png'],
    }
  },
  beforeCreate: function () {
    if (!this.$session.exists()) {
      location.href = "/";
    }
  },
  created () {
    this.showProfile();
  },
  methods: {
    showProfile () {
      axios.get('/api/v1/userShowprofile/' + this.user.email, this.configHeaders)
      .then(Response => { 
        this.profile = Response.data
      })
      .catch(Error => {
        this.logout();
      })
    },
    logout () {
      axios.get('deleteSession')
      .then(Response => {
        this.$session.destroy();
        location.href = "/";
      })
    },
  }
}
</script>