<template>
  <div id="main-wrapper">
    <!-- Header -->
      <Header></Header>
    <!-- End header -->
    <!-- Left Sidebar  -->
      <Sidebar></Sidebar>
    <!-- End Left Sidebar  -->
    <!-- Body page wrapper  -->
      <div class="page-wrapper">        
        <!-- Bread crumb -->
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Server Information</h3>
          </div>
        </div>
        <!-- End Bread crumb -->        
        <!-- Container fluid  -->
        <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row">
            <!-- Column -->
            <div class="col-lg-12">
              <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                  <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#overview" v-on:click="loadOverviewInfo" role="tab">Overview</a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#graphs" role="tab" v-on:click="getUsageInfo">Usage Graphs</a> </li>
                  <!--<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#dns" role="tab" v-on:click="dnsList">DNS</a> </li>-->
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#snapshots" role="tab" v-on:click="snapshotList">Snapshots</a> </li>
                  <!--<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#ssh" role="tab" v-on:click="getSSH">SSH Key</a> </li>-->
                  <!--<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#backups" role="tab">Backups</a> </li>-->
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#setting" role="tab" v-on:click="getSettingInfo">Settings</a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content"><br>
                  <!-- Overview -->
                  <div class="tab-pane active" id="overview" role="tabpanel">
                    <div class="card-body">
                      <div class="form-validation">
                        <div class="form-group row">
                          <!-- Bandwidth Usage -->
                          <div class="col-lg-6">
                            <div class="card nestable-cart">
                              <div class="card-title">
                                <h6>Bandwidth Usage</h6>
                              </div>
                              <div>
                                <b>{{ ((parseInt(overviewData.netin) + parseInt(overviewData.netout)) * 0.000001).toFixed(2) }}</b> Mbps
                              </div>
                            </div>
                            <table width="100%">
                              <tr>
                                <td width="40%">Location :</td>
                                <td width="60%">
                                  <i v-if="data.location === 'Los Angeles'" class="flag-icon flag-icon-us"></i>
                                  <i v-if="data.location === 'Singapore'" class="flag-icon flag-icon-sg"></i>
                                  <i v-if="data.location === 'Thailand'" class="flag-icon flag-icon-th"></i>
                                  &nbsp;{{data.location}}
                                </td>
                              </tr>
                              <tr>
                                <td width="40%">IP Address :</td>
                                <td width="60%">{{data.ip}}</td>
                              </tr>
                              <tr>
                                <td width="40%">Host Name :</td>
                                <td width="60%">{{overviewData.name}}</td>
                              </tr>
                              <tr>
                                <td width="40%">Username :</td>
                                <td width="60%">{{data.username}}</td>
                              </tr>
                              <tr>
                                <td width="40%">Password :</td>
                                <td width="60%">
                                  <input :type="type" style="border:none; background:#ffffff;" 
                                    :size="data.password.length" :value="data.password" disabled>
                                  <i class="fa fa-eye" v-on:click="password"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                  <i class="fa fa-files-o" @click.stop.prevent="copyCode" ></i>
                                  <input type="hidden" id="copyPassword" :value="data.password">
                                </td>
                              </tr>
                            </table>
                          </div>
                          <!-- CPU -->
                          <div class="col-lg-6">
                            <div class="card nestable-cart">
                              <div class="card-title">
                                <h6>CPU Usage</h6>
                              </div>
                              <div class="card-body">
                                <table width="100%">
                                  <tr>
                                    <td width="100%"><center><b> {{ (overviewData.cpu * 100).toFixed(2)+" % " }} <small>of {{ overviewData.cpus }} CPU(s)</small> </b></center></td>
                                  </tr>
                                </table>
                              </div>
                              <br>
                            </div>
                            <table width="100%">
                              <tr>
                                <td width="40%">CPU :</td>
                                <td width="60%">{{ overviewData.cpus }} Core</td>
                              </tr>
                              <tr>
                                <td width="40%">RAM :</td>
                                <td width="60%">{{ (overviewData.mem / 1048576).toFixed(2) + " of " + (overviewData.maxmem / 1048576).toFixed(0) + " MB" }}</td>
                              </tr>
                              <tr>
                                <td width="40%">Storage :</td>
                                <td width="60%">{{ (overviewData.maxdisk / 1073741824) }} GB SSD</td>
                              </tr>
                            </table>
                          </div>
                          <!-- Current Charges -->
                          <!--<div class="col-lg-4">
                            <div class="card nestable-cart">
                              <div class="card-title">
                                <h6>Current Charges</h6>
                              </div>
                              <div>
                                <b> $28.50 </b>
                              </div>
                            </div>
                            <table width="100%">
                              <tr>
                                <td width="40%">Label :</td>
                                <td width="60%">{{ overviewData.name }}</td>
                              </tr>
                              <tr>
                                <td width="40%">Tag :</td>
                                <td width="60%"><a href="#">Click here to set</a></td>
                              </tr>
                              <tr>
                                <td width="40%">OS :</td>
                                <td width="60%">Windows 2012 R2</td>
                              </tr>
                            </table>
                          </div>-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Graphs -->
                  <div class="tab-pane" id="graphs" role="tabpanel">
                    <div class="card-body">
                      <div class="form-validation">
                        <div class="form-group row">
                          <!-- Bar Chart -->
                          <div class="col-lg-2"></div>
                          <div class="col-lg-6">
                            <div class="card-title">
                              <h3>Daily Bandwidth</h3>
                            </div>
                            <table width="100%">
                              <tr>
                                <td width="40%">Usage :</td>
                                <td width="60%">
                                  <b>{{ ((parseInt(overviewData.netin) + parseInt(overviewData.netout)) * 0.000001).toFixed(2) }}</b> Mbps
                                </td>
                              </tr>
                              <tr>
                                <td width="40%">Inbound :</td>
                                <td width="60%">{{ (overviewData.netin * 0.000001).toFixed(2) }} Mbps</td>
                              </tr>
                              <tr>
                                <td width="40%">Outbound :</td>
                                <td width="60%">{{ (overviewData.netout * 0.000001).toFixed(2) }} Mbps</td>
                              </tr>
                            </table>
                          </div>
                          <div class="col-12">
                            <div class="bandwidth-bar-chart"></div>
                            <div class="bandwidth-bar-chart-description text-center">
                                <span><span class="badge badge-netin mr-1">&nbsp;</span>net-in / Bps</span>
                                <span><span class="badge badge-netout mr-1">&nbsp;</span>net-out / Bps</span>
                            </div>
                            <br>
                            <!--<div class="card-body">
                              <table width="100%">
                                <tr>
                                  <td width="40%">Show :</td>
                                  <td width="60%">
                                    <div class="wrap-input100 bg0 rs1-wrap-input60">
                                      <span class="label-input100">Range</span>
                                      <br>
                                      <multiselect v-model="valuerange" :options="rangeoptions" 
                                        :custom-label="nameWithLangrange" class="input100 selectpicker dropdown-toggle"
                                        placeholder="Last 24 Hours" 
                                        label="name" track-by="name">
                                      </multiselect>
                                    </div>
                                  </td>
                                </tr>  
                              </table>
                            </div>
                            <br> !-->
                            <div class="card-title">
                              <h3>CPU Usage / Percent</h3>
                            </div>
                            <div class="cpu-area-ln-chart"></div>
                            <br>
                            <div class="card-title">
                              <h3>Memory Usage / MB</h3>
                            </div>
                            <div class="memory-area-ln-chart"></div>
                            <br>
                            <div class="card-title">
                              <h3>Disk Operations / MB</h3>
                            </div>
                            <div class="disk-bar-chart"></div>
                            <div class="text-center">
                                <span><span class="badge badge-netin mr-1">&nbsp;</span>disk-write</span>
                                <span><span class="badge badge-netout mr-1">&nbsp;</span>disk-read</span>
                            </div>
                          </div>
                          <div class="col-lg-4"></div>
                        </div>
                      </div>
                    </div><br>
                  </div>
                  <!-- DNS -->
                  <div class="tab-pane" id="dns" role="tabpanel">
                    <div class="card-body">             
                      <b-container fluid>
                        <!-- Button Add Domain -->
                        <b-row>
                          <b-col md="12" class="my-1">
                            <button type="submit" v-on:click="goPage('createdns')" class="btn btn-info"> Add Domain </button>
                          </b-col>
                        </b-row><br>
                        <!-- Table list Domain -->
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Name&nbsp;&nbsp;Server&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th></th>
                                <!--<th></th>-->
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="(dns, index) in dns" :key="index">
                                <td> {{ dns.nameserver }}</td>
                                <td>
                                  <a href="#" v-on:click="editdns(dns.id)"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                               <!--<td>
                                  <a href="#" v-on:click="deletedns()"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>-->
                              </tr>
                              <br><br>
                              <h4>Vultr DNS Introduction</h4>
                              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" aria-hidden="true"></i>&nbsp;
                              You can learn more about Vultr DNS and its features on the Introduction to Vultr DNS guide. <br><br>
                              <h4>Vultr Name Servers</h4>
                              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" aria-hidden="true"></i>&nbsp;
                              ns1.vultr.com <br>
                              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" aria-hidden="true"></i>&nbsp;
                              ns2.vultr.com <br>
                            </tbody>
                          </table>
                        </div>
                      </b-container>
                    </div>
                  </div>
                  <!-- Snapshots -->
                  <div class="tab-pane" id="snapshots" role="tabpanel">
                    <div class="card-body">
                      <h3 style="color:black;"> Take Snapshots </h3><br>
                      <!-- Input, Button -->
                      <b-container class="bv-example-row">
                        <b-row>
                          <b-col cols="4">
                            <div class="wrap-input100">
                              <input type="text" id="snapshot-name" class="col-lg-12" placeholder="Label">
                            </div>
                          </b-col>
                          <b-col cols="4">
                            <button class="btn btn-info col-lg-12" style="height:45px" v-on:click="createSnapshot(user.vmid)"> Take Snapshots </button>
                          </b-col>
                          <small id="snapshot-status" class="form-text text-muted"></small>
                        </b-row>
                      </b-container><br>
                      <h3 style="color:black;"> List Snapshots </h3><br>
                      <b-container fluid>
                        <!-- Snapshot list -->
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Snaptime</th>
                                <th>Vmstate</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="(snapshot, index) in snapshot" :key="index">
                                <td> {{ snapshot.name }} </td>
                                <td> {{ snapshot.description }}</td>
                                <td> {{ snapshot.snaptime }} </td>
                                <td> {{ snapshot.vmstate }}</td>
                                <td>
                                  <a href="#" v-on:click="deleteSnapshot(snapshot.name, user.vmid)"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </b-container>
                    </div>
                  </div>
                  <!-- Backups -->
                  <div class="tab-pane" id="backups" role="tabpanel">
                    <div class="card-body">
                      <b-container class="bv-example-row">
                        <b-row class="text-center">
                          <b-col></b-col>
                          <b-col cols="8"></b-col>
                          <b-col>
                            <div>
                              <button class="btn btn-info" style="border-radius: 50%;">
                                <i class="fa fa-plus"></i>
                              </button>
                            </div>
                          </b-col>
                        </b-row>
                      </b-container><br>
                      <b-container fluid>
                        <br>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>&nbsp;&nbsp;Size&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>&nbsp;&nbsp;Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>&nbsp;&nbsp;Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>auto-backup 45.32.110.27 rankaame</td>
                                <td>17.78 GB</td>
                                <td>2018-10-15 06:02:21</td>
                                <td>
                                  <p><font color="red"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;down</font></p>
                                </td>
                                <td>
                                  <a href="#"><i class="fa fa-trash"></i></a>
                                </td>
                              </tr>
                              <br><br>
                              <h4>Using Backups</h4>
                              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" aria-hidden="true"></i>&nbsp;
                              Use our daily backups feature to automatically backup your instances.<a href="#">Read more about backups here.</a> <br><br>
                            </tbody>
                          </table>
                        </div>
                      </b-container>
                    </div>
                  </div>
                  <!-- SSH Key -->
                  <div class="tab-pane" id="ssh" role="tabpanel">
                    <div class="card-body">
                      <b-container fluid>
                        <!-- Button Add Domain -->
                        <b-row>
                          <b-col md="12" class="my-1">
                            <button v-on:click="goPage('ssh')" class="btn btn-info"> Add SSH Key </button>
                          </b-col>
                        </b-row><br>
                        <!-- Table list Domain -->
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>SSH</th>
                                <th>Date Create</th>
                                <th></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>ruk-com.network</td>
                               <td>2018-11-22 03:20:47</td>
                               <td><a href="#" v-on:click="editSSH()"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                               <td>
                                  <a href="#" v-on:click="deleteSSH()"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                              </tr>
                              <br><br>
                              <h4>Using SSH Keys</h4>
                              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" aria-hidden="true"></i>&nbsp;
                              Need help creating keys? See our tutorial on generating SSH Keys. <br><br>
                            </tbody>
                          </table>
                        </div>
                      </b-container>
                    </div>
                  </div>
                  <!-- Settings -->
                  <div class="tab-pane" id="setting" role="tabpanel">
                    <div class="card">
                      <div class="card-body">
                        <!-- Nav tabs -->
                        <div class="vtabs customvtab">
                          <ul class="nav nav-tabs tabs-vertical" role="tablist">
                            <li class="nav-item "> <a class="nav-link active show" data-toggle="tab" href="#information-page" role="tab"> Change Infomation </a></li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#os" role="tab"> Change OS </a></li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content">
                            <!-- Change Default Hostname -->
                            <div class="tab-pane p-20 active" id="information-page" role="tabpanel">
                              <h3 style="color:black;"> Change Infomation </h3>
                              <div class="p-20 col-lg-10">
                                <div class="row py-2">
                                  <span>Hostname : </span>
                                  <div class="wrap-input100 col-lg-12">
                                    <input type="text" class="col-lg-12" placeholder="-- Change Hostname --" v-model="parameter.hostname">
                                  </div>
                                </div>
                                <!-- <div class="row py-3">
                                  <span class="pr-2">DNS : </span>
                                  <select v-model="parameter.dns_id" id="domain-selector">
                                    <option v-for="dns in dnses" v-bind:value="dns.id">
                                      {{ dns.domain }} [{{ dns.ipaddress }}]
                                    </option>
                                  </select>
                                </div> -->
                                <div class="row py-3">
                                  <span class="pr-2">SSH KEY : </span>
                                  <select v-model="parameter.sshkey_id" id="domain-selector">
                                    <option v-for="sshkey in sshkeys" v-bind:value="sshkey.id">
                                      {{ sshkey.name }}
                                    </option>
                                  </select>
                                </div>
                                <button type="submit" class="btn btn-info col-lg-12 pt-2" v-on:click="changeInfomation()"> Submit </button>  
                              </div>
                            </div>
                            <!-- Change Plan -->
                            <div class="tab-pane" id="plan" role="tabpanel">
                              <h3 style="color:black;"> Change Plan </h3>
                              <div class="p-20 col-lg-10">
                                <div class="wrap-input100 bg0 rs1-wrap-input80">
                                  <span class="label-input100">Plan</span>
                                  <br>
                                  <multiselect v-model="parameter.plan" :options="changePlan" 
                                    :custom-label="nameWithLang" class="input100 selectpicker dropdown-toggle"
                                    placeholder="-- Choose Choose --" 
                                    label="name" track-by="name">
                                  </multiselect>
                                </div>
                                <button type="submit" class="btn btn-info col-lg-12" @click="sendParameter(parameter)"> Upgrade </button> <br><br>
                                <span style="font-weight:bold;"> Note </span>: 
                                Downgrading is currently not supported Shrinking the header
                                disk is not possble without risking data loss.
                              </div>
                            </div>
                            <!-- OS -->
                            <div class="tab-pane" id="os" role="tabpanel">
                              <h3 style="color:black;"> New OperatingSystem </h3>
                              <div class="p-20 col-lg-10">
                                <span style="font-weight:bold;"> Warning </span>: 
                                Changing to a different operating system will wipe all
                                the data on your server.<br><br>
                                <span style="font-weight:bold;"> Currently Installed </span>: 
                                <span v-if="data.os == 'centos6'"> CentOS 6</span>
                                <span v-if="data.os == 'centos7'"> CentOS 7</span>
                                <br><br>
                                <div class="wrap-input100 bg0 rs1-wrap-input80">
                                  <span class="label-input100">OS</span>
                                  <br>
                                  <multiselect v-model="parameter.os" :options="osChoice" 
                                    :custom-label="nameWithLang"
                                    :searchable="false"
                                    placeholder="-- Choose New OS --" label="name" track-by="name"></multiselect>
                                </div>
                                <div v-if="parameter.os">
                                  <button type="submit" class="btn btn-info col-lg-12" @click="changeOs()"> Change OS </button>
                                </div>
                                <div v-else>
                                  <button type="submit" class="btn btn-info col-lg-12" disabled> Change OS </button>
                                </div>
                              </div>   
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
          </div>
          <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
        <!-- End footer -->
      </div>
    <!-- End Body page wrapper  -->
  </div>
</template>
<script>
import App from '../../app.js';
import Header from './header.vue';
import Sidebar from './sidebar.vue';
import swal from 'sweetalert2';
import Multiselect from 'vue-multiselect';

export default {
  data () {
    return {
      user: this.$session.getAll(),
      configHeaders: {
        headers: {
          'Accept' : 'application/json',
          'Authorization' : 'Bearer ' + this.$session.get('token'),
        }
      },
      type: 'password',
      data: '',
      overviewData: '',
      is_load_overviewData: true,
      is_load_usage_graph: false,
      usage_infos: '',
      parameter: {
        hostname: '',
        plan: '',
        os: '',
        dns_id: '',
        sshkey_id: '',
      },
      dnses: [],
      sshkeys: [],
      math: '1,8,10,3,9',
      ip4: [],  
      snapshot: [],  
      dns: [],    
      valuePlan: { name: ''},
      changePlan: [
        { name: ''}
      ],
      valueOs: { name: 'windows'},
      osChoice: [
        { 
          name: 'centos6',
          text: 'CentOS 6'
        },
        { 
          name: 'centos7',
          text: 'CentOS 7'
        },
      ],
      valuerange: { name: ''},
      rangeoptions: [
        { name: 'Last 24 Hours'}
      ],
    }
  },
  components: { Header, Sidebar, Multiselect  },
  mounted () {
    var obj = this;
    setInterval(function() {
      if(obj.is_load_overviewData) {
        console.log("loadOverview");
        obj.overviewInfo();
      }else if(obj.is_load_usage_graph) {
        console.log("loadGraph");
        //obj.loadAllGraph();
      }
    }, 10000);
    var array = []
    setInterval( function () {
      if(array.length !== 5){
        for(var i=0 ; i<5 ; i++ ){
          array[i] = Math.round( Math.random() * 10 );
        }
      }  
      else if(array.length === 5){
        array[0] = array[1]
        array[1] = array[2]
        array[2] = array[3]
        array[3] = array[4]
        array[4] = Math.round( Math.random() * 10 );
        this.math = array;
      }  
      this.math = '';
      for(var a=0 ; a<5 ; a++){
        if (a < 4 ) {
          this.math = this.math + array[a] + "," ; 
        }
        else {
          this.math = this.math + array[a];
        }
      }
    }, 1000 )
  },
  created () {
    this.overviewInfo();
    //this.overview_CPU_Current();
    //this.snapshotList();
    //this.dnsList();
  },
  methods: {    
    nameWithLang ({name, text}) {
      return `${text}`
    },
    nameWithLangrange ({name, text}) {
      return `${text}`
    },
    loadOverviewInfo() {
      this.is_load_overviewData = true;
      this.is_load_usage_graph = false;
    },
    overviewInfo() {
      axios.get('overview/'+ this.$session.get('vmid'), this.configHeaders)
      .then(Response => {
        this.overviewData = Response.data.server_info.data;
        this.data = {
          location: this.$session.get('location'),
          ip: Response.data.server_detail.ip,
          username: "root",
          password: Response.data.server_detail.root_password,
          os: Response.data.server_detail.os
        }
        if(this.parameter.hostname == "") {
          this.parameter.hostname = this.overviewData.name;
          this.parameter.dns_id = Response.data.server_detail.dns_id;
          this.parameter.sshkey_id = Response.data.server_detail.sshkey_id;
        }
      })
      .catch(Error => {
        console.log("error");
      })
    },
    getUsageInfo() {
      this.is_load_overviewData = false;
      this.is_load_usage_graph = true;
      axios.get('usage_monitors/'+ this.$session.get('vmid'), this.configHeaders)
      .then(Response => {
        this.usage_infos = Response.data;
        this.loadAllGraph();
      })
      .catch(Error => {
        console.log("error");
      })
    },
    loadAllGraph() {
      this.loadBandWidthGraph();
      this.loadCpuGraph();
      this.loadMemoryGraph();
      this.loadDiskGraph();
    },
    overview_CPU_Current () {
      axios.get('overview/'+ this.$session.get('vmid'), this.configHeaders)
      .then(Response => {
        this.overviewData = Response.data[0];
      })
      .catch(Error => {
        console.log("error");
      })
    },
    loadBandWidthGraph() {
      if(!$.isEmptyObject(this.usage_infos.bandwidth_info)) {
        var labels = Object.keys(this.usage_infos.bandwidth_info);
        var netin = [];
        var netout = [];
        $.each(this.usage_infos.bandwidth_info, function(key, value) {
          netin.push(value[0].netin);
          netout.push(value[0].netout);
        });
        var data = {
          labels: labels,
          series: [netin, netout],
        };
        var options = {
          seriesBarDistance: 10
        };

        var responsiveOptions = [
          ['screen and (max-width: 640px)', {
              seriesBarDistance: 5,
              axisX: {
                  labelInterpolationFnc: function (value) {
                      return value[0];
                  }
              }
          }]
        ];

        new Chartist.Bar('.bandwidth-bar-chart', data, options, responsiveOptions);
      }
    },
    loadCpuGraph() {
      if(!$.isEmptyObject(this.usage_infos.cpu_info)) {
        var labels = Object.keys(this.usage_infos.cpu_info);
        var series = [];
        $.each(this.usage_infos.cpu_info, function(key, value) {
          series.push(value[0]);
        });
        new Chartist.Line('.cpu-area-ln-chart', {
          labels: labels,
          series: [series]
        }, {
          low: 0,
          showArea: true
        });
      }
    },
    loadMemoryGraph() {
      if(!$.isEmptyObject(this.usage_infos.memory_info)) {
        var labels = Object.keys(this.usage_infos.memory_info);
        var series = [];
        $.each(this.usage_infos.memory_info, function(key, value) {
          series.push(value[0]);
        });
        new Chartist.Line('.memory-area-ln-chart', {
          labels: labels,
          series: [series]
        }, {
          low: 0,
          showArea: true
        });
      }
    },
    loadDiskGraph() {
      if(!$.isEmptyObject(this.usage_infos.disk_info)) {
        var labels = Object.keys(this.usage_infos.disk_info);
        var diskwrite = [];
        var diskread = [];
        $.each(this.usage_infos.disk_info, function(key, value) {
          diskwrite.push(value[0].diskwrite);
          diskread.push(value[0].diskread);
        });
        var data = {
          labels: labels,
          series: [diskwrite, diskread],
        };
        var options = {
          seriesBarDistance: 10
        };

        var responsiveOptions = [
          ['screen and (max-width: 640px)', {
              seriesBarDistance: 5,
              axisX: {
                  labelInterpolationFnc: function (value) {
                      return value[0];
                  }
              }
          }]
        ];

        new Chartist.Bar('.disk-bar-chart', data, options, responsiveOptions);
      }
    },
    password () {
      if(this.type === 'password'){
        this.type = 'text'
      }
      else{
        this.type = 'password'
      }
    },
    copyCode () {
      swal({
        title: 'Are you sure?',
        text: '',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, update it!'
      }) 
      let testingCodeToCopy = document.querySelector('#copyPassword')
      testingCodeToCopy.setAttribute('type', 'text')
      testingCodeToCopy.select()
      try {
        var successful = document.execCommand('copy');   
        swal({
          type: 'success',
          title: 'Copy Success !',
          showConfirmButton: false,
          timer: 1500
        })
      } catch (err) {
        swal({
          type: 'denger',
          title: 'Copy not success !',
          showConfirmButton: false,
          timer: 1500
        })
      }
      /* unselect the range */
      testingCodeToCopy.setAttribute('type', 'hidden')
      window.getSelection().removeAllRanges()
    },
    snapshotList () {
      this.is_load_usage_graph = false;
      this.is_load_overviewData = false;
      $("#snapshot-name").val("");
      axios.get('snapshots/'+ this.$session.get('vmid'), this.configHeaders)
      .then(Response => {
        var data = [];
        var snap = [];
        for(var i=0; i<Response.data[0].data.length-1; i++){
          var ts = new Date(Response.data[0].data[i].snaptime * 1000);
          var snaptime = ts.toLocaleString();
          data = {
            'snaptime': snaptime,
            'vmstate': Response.data[0].data[i].vmstate,
            'description': Response.data[0].data[i].description,
            'name': Response.data[0].data[i].name,
          }
          snap.push(data);
        }
        this.snapshot = snap;
      })
      .catch(Error => {
        console.log("error");
      })
    },
    dnsList (vmid) {
      axios.get('dns/'+ this.$session.get('vmid'), this.configHeaders)
      .then(Response => {
        var data = [];
        var datadns = [];
        for(var i=0; i<Response.data.length; i++){
          data = {
             'nameserver': Response.data[0].data.nameserver,
          }
          datadns.push(data);
        }
        this.dns = datadns;
        // console.log(datadns);
        console.log(Response.data);
      })
      .catch(Error => {
        console.log(Error.Response);
      })
    },
    sendParameter (parameter) {
      console.log('Hostname : ' + parameter.hostname);
      console.log('Plan : ' + parameter.plan.name);
      console.log('OS : ' + parameter.os.name);
    },
    changeInfomation() {
      var data = { 
        hostname: this.parameter.hostname,
        dns_id: this.parameter.dns_id,
        sshkey_id: this.parameter.sshkey_id 
      };
      var vmid = this.$session.get('vmid');
      axios.put('/me/changeInfomation/'+ vmid, data)
       .then(Response => {
          if(Response.data == "changed") {
            swal("Hostname changed.", "", "success");
            this.overviewInfo();
          }
        })
       .catch(Error => {
        
        })
    },
    changeOs() {
      var data = { os: this.parameter.os };
      var vmid = this.$session.get('vmid');
      swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, change it!'
      }).then((result) => {
        if (result.value) {
          axios.put('/me/changeOS/'+ vmid, data)
           .then(Response => {
              console.log(Response.data);
              if(Response.data == "changed") {
                var obj = this;
                setTimeout(function() {
                  axios.post('/me/recreateServer/'+vmid, this.configHeaders)
                  .then(Response => {
                    console.log(Response.data);
                    if(Response.data == "created") {
                      swal("Server changed os.", "", "success")
                      .then((value) => {
                        window.location.href = "/server";
                      });
                    }
                  })
                 .catch(Error => {
                  
                  })
                }, 3000);
              }
            })
           .catch(Error => {
            
            })
        }
      });
    },
    getSSH () {
      console.log("SSH");
    },
    goPage (key) {
      if(key === 'ssh'){location.href = "/me/ssh";}
      if(key === 'createdns'){location.href = "/me/createdns";}
    },
    createSnapshot(vmid) {
      if($("#snapshot-name").val() != "") {
        var obj = this;
        $("#snapshot-status").html("Snapshot is creating in background process. Please wait a minute.");
        axios.post('createSnapshot/'+vmid, {
          snapname: $("#snapshot-name").val(),
        }).then(Response => {
          console.log(Response.data);
          $("#snapshot-name").val("");
          setTimeout(function() {
            console.log("load snapshot");
            $("#snapshot-status").html("");
            obj.snapshotList();
          }, 3000);
        })
       .catch(Error => {
        
        })
      }
    },
    deleteSnapshot(name, vmid) {
      $("#snapshot-status").html("Snapshot is deleting in background process. Please wait a minute.");
      var obj = this;
      axios.delete('deleteSnapshot/' + name + '/' + vmid, this.configHeaders)
       .then(Response => {
          console.log(Response.data);
          setTimeout(function() {
            console.log("load snapshot");
            $("#snapshot-status").html("");
            obj.snapshotList();
          }, 3000);
        })
       .catch(Error => {
        
        })
    },
    editdns (vmid) {
      axios.put('editDns/' + vmid, this.configHeaders)
       .then(Response => {
          console.log(Response.data);
        })
       .catch(Error => {
        
        })
    },
    getSettingInfo () {
      axios.get('/me/dnses/'+ this.user.email, this.configHeaders)
      .then(Response => {
        this.dnses = [];
        var obj = this;
        $.each(Response.data, function(key, value) {
          obj.dnses.push(value);
        });
      })
      .catch(Error => {
        console.log("error");
      });

      axios.get('/me/sshkeys/'+ this.user.email, this.configHeaders)
      .then(Response => {
        this.sshkeys = [];
        var obj = this;
        $.each(Response.data, function(key, value) {
          obj.sshkeys.push(value);
        });
      })
      .catch(Error => {
        console.log("error");
      });
    },
  }
}
</script>
<style lang="scss">
table {
  font-size: 15px;
}
b {
  font-size: 30px;
}
.reverse {
  color: #0066FF;
  &:hover {
    color: #0000FF;
  }
}
.badge-netin { background-color: #26dad2; }
.badge-netout { background-color: #4680ff; }

</style>
<style>
  @import url('../../../../../public/css/from_profile.css');
</style>
