<template>
  <div id="main-wrapper">
    <!-- Header -->
      <Header></Header>
    <!-- End header -->
    <!-- Left Sidebar  -->
      <Sidebar></Sidebar>
    <!-- End Left Sidebar  -->
    <!-- Body page wrapper  -->
      <div class="page-wrapper">
        <!-- Container fluid  -->
        <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row">
            <!-- Column -->
            <div class="col-lg-12">
              <div class="card">
                <b-container fluid>
                  <b-row>
                    <b-col md="12" class="my-1">
                      <button type="submit" class="btn btn-info" style="float:right;" > <i class="fa fa-plus"></i> Add </button>
                    </b-col>
                  </b-row><br>

                  <!-- User Interface controls -->
                  <b-row>
                    <!-- Page -->
                    <b-col md="3" class="my-1">
                      <b-form-group horizontal label="Show " class="mb-0">
                        <b-form-select :options="pageOptions" v-model="perPage" style="width:50%" />
                      </b-form-group>
                    </b-col>
                    <b-col md="4" class="my-1">
                    </b-col>
                    <!-- Search -->
                    <b-col md="5" class="my-1">
                      <b-form-group horizontal label="Search :" class="mb-0">
                        <b-input-group>
                          <b-form-input v-model="filter" placeholder="Type to Search" />
                          <b-input-group-append>
                            <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
                          </b-input-group-append>
                        </b-input-group>
                      </b-form-group>
                    </b-col>
                  </b-row><br>

                  <!-- Main table element -->
                  <b-table show-empty
                          stacked="md"
                          :items="items"
                          :fields="fields"
                          :current-page="currentPage"
                          :per-page="perPage"
                          :filter="filter"
                          @filtered="onFiltered"
                    >
                    <!-- Fields Name -->
                    <template slot="fullName" slot-scope="row">{{row.value.fullName}}</template>
                    <!-- Fields Nickname -->
                    <template slot="nickname" slot-scope="row">{{row.value.nickname}}</template>
                    <!-- Fields Email -->
                    <template slot="email" slot-scope="row">{{row.value.email}}</template>
                    <!-- Fields Telephone -->
                    <template slot="tel" slot-scope="row">{{row.value.tel}}</template>
                    <!-- Fields Status -->
                    <template slot="status" slot-scope="row">
                      <div v-if="row.value.status === 1">
                        <span class="badge badge-success">Confirmed</span>
                      </div>
                      <div v-if="row.value.status === 0">
                        <span class="badge badge-danger">Un Confirmed</span>
                      </div>
                    </template>
                    <!-- Fields Role -->
                    <template slot="role" slot-scope="row">
                      <div v-if="row.value.role === null">
                        {{row.value.role}}
                      </div>
                      <div v-else>
                        {{row.value.role.toUpperCase()}}
                      </div>
                    </template>
                    <!-- Fields Actions -->
                    <template slot="actions" slot-scope="row">
                      <b-button variant="warning" @click="edit(row.value.id)"><i class="fa fa-pencil" aria-hidden="true"></i></b-button>
                    </template>
                  </b-table><br><br>

                  <b-row>
                    <b-col md="12" class="my-1">
                      <b-pagination style="float:right;" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
                    </b-col>
                  </b-row>

                </b-container>
              </div>
            </div>
            <!-- Column -->
          </div>
          <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
        <!-- End footer -->
      </div>
    <!-- End Body page wrapper  -->
  </div>
</template>
<script>
import App from '../../app.js';
import Header from './header.vue';
import Sidebar from './sidebar.vue';

const items = []

export default {
  data () {
    return {
      user: this.$session.getAll(),
      items: [],
      fields: [
        { key: 'fullName', label: 'Name', sortable: true, sortDirection: 'desc' },        
        { key: 'nickname', label: 'Nickname', sortable: true, sortDirection: 'desc'  },        
        { key: 'email', label: 'E-mail', sortable: true, sortDirection: 'desc'  },
        { key: 'tel', label: 'Tel.', sortable: true, sortDirection: 'desc'  },
        { key: 'status', label: 'Status', sortable: true, sortDirection: 'desc'  },
        { key: 'role', label: 'Role', sortable: true, sortDirection: 'desc'  },
        { key: 'actions', label: 'Actions', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: items.length,
      pageOptions: [ 5, 10, 15, ],
      filter: null,
      modalInfo: { title: '', content: '' },
      configHeaders: {
        headers: {
          'Accept' : 'application/json',
          'Authorization' : 'Bearer ' + this.$session.get('token'),
        }
      },
    }
  },
  components: { Header, Sidebar },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    }
  },
  created () {
    this.listUsers();
  },
  methods: {
    info (item, index, button) {
      this.modalInfo.title = `Row index: ${index}`
      this.modalInfo.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    edit (id) {
      this.$session.set('user', id);
      location.href = "/edituser";
    },
    listUsers () {
      axios.get('/api/v1/user/' + this.user.email , this.configHeaders)
      .then(Response => {
        var length = Response.data.length;
        var data = [];
        var information = [];
        for(var i=0; i<length; i++){
          var id = Response.data[i].id;
          var status = Response.data[i].confirmed;
          var fullName = Response.data[i].first_name + ' ' + Response.data[i].last_name;
          var nickname = Response.data[i].name;
          var email = Response.data[i].email;
          var tel = Response.data[i].phone_number;  
          var role = Response.data[i].role_name;
          if((Response.data[i].first_name  || Response.data[i].last_name) == null){
            fullName = null
          }
          if(Response.data[i].name == null){
            nickname = null
          }
          if(Response.data[i].phone_number  == null){
            tel = null
          }
          data = {
            'actions': {
              'id': id,
              'email': email
            },
            'fullName': {
              'fullName': fullName
            },
            'nickname': {
              'nickname': nickname
            },
            'email': {
              'email': email
            },
            'tel': {
              'tel': tel
            },
            'status': {
              'status': status
            },
            'role': {
              'role': role
            },
          }
          information.push(data);
        }
        this.items = information;
      })
      .catch(Error => {
        console.log(Error.Response.data);
      })
    },
  }
}
</script>

