<template>
  <div id="main-wrapper">
    <!-- Header -->
      <Header></Header>
    <!-- End header -->
    <!-- Left Sidebar  -->
      <Sidebar></Sidebar>
    <!-- End Left Sidebar  -->
    <!-- Body page wrapper  -->
      <div v-if="role === 'admin'" class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Dashboard</h3>
          </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row">
            <!-- Alert Assure -->
            <div class="col-lg-12">
              <b-alert variant="danger" v-if="assure === 0" show>
                <p> 
                  You aren't confirmed. Click at "Re-send" button for receiving confirmation email agian. 
                  <b-button style="float: right;" variant="danger" v-if="showMessage" 
                    v-on:click="resendEmail"> Re-send </b-button>
                </p> 
              </b-alert>
              <b-alert :show="dismissCountDown" dismissible variant="success"
                @dismissed="dismissCountDown=0">    
                <p>
                  {{ message }}<br>
                </p> 
              </b-alert>
            </div>
            <!-- End Alert Assure -->

            <!-- Column -->
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-two">
                    <header>
                      <div class="avatar">
                        <img src="images/blue.png" alt="Allison Walker" />
                      </div>
                    </header>
                    <h3> Ruk-Com </h3>
                    <div class="desc">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit et cupiditate deleniti. <br>
                      Session : {{ user.email }} <br>
                    </div>
                    <div class="contacts">
                      <a href=""><i class="fa fa-plus"></i></a>
                      <a href=""><i class="fa fa-whatsapp"></i></a>
                      <a href=""><i class="fa fa-envelope"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Column -->

          </div>
          <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
        <!-- End footer -->
      </div>

      <div v-else class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Dashboard</h3>
          </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row">
            <!-- Column -->
            <div class="col-lg-12">
              <b-alert variant="danger" v-if="assure === 0" show>
                <p> 
                  You aren't confirmed. Click at "Re-send" button for receiving confirmation email agian. 
                  <b-button style="float: right;" variant="danger" v-if="showMessage" 
                    v-on:click="resendEmail"> Re-send </b-button>
                </p> 
              </b-alert>
              <b-alert :show="dismissCountDown" dismissible variant="success"
                @dismissed="dismissCountDown=0">    
                <p>
                  {{ message }}<br>
                </p> 
              </b-alert>
              <div class="card">
                Welcome {{ user.email }} <br> Dashboard
              </div>
            </div>
            <!-- Column -->
          </div>
          <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
        <!-- End footer -->
      </div>
    <!-- End Body page wrapper  -->
  </div>
</template>
<script>
import App from '../../app.js';
import Header from './header.vue';
import Sidebar from './sidebar.vue';

export default {
  data () {
    return {
      user: this.$session.getAll(),
      role: {},
      message: '',
      showMessage: true,
      assure: '',
      dismissSecs: 3,
      dismissCountDown: 0,
      configHeaders: {
        headers: {
          'Accept' : 'application/json',
          'Authorization' : 'Bearer ' + this.$session.get('token'),
        }
      },
    }
  },
  components: { Header, Sidebar },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    }
  },
  created () {
    this.checkConfirmed();
    this.rolePreple();
  },
  methods: {
    resendEmail () {
      this.showMessage = false;
      axios.get('resend-email/' + this.user.email)
      .then(Response => {
        this.message = Response.data;
        this.dismissCountDown = this.dismissSecs;
      })
    },
    checkConfirmed () {
      axios.get('check-confirmed/' + this.user.email)
      .then(Response => {
        this.assure = Response.data;
      })
    },
    rolePreple () {
      axios.get('/api/v1/userShowprofile/' + this.user.email, this.configHeaders)
      .then(Response => {
        this.role = Response.data.role_name
      })
    },
  }
}
</script>