<template>
  <div id="main-wrapper">
    <!-- Header -->
      <Header></Header>
    <!-- End header -->
    <!-- Left Sidebar  -->
      <Sidebar></Sidebar>
    <!-- End Left Sidebar  -->
    <!-- Body page wrapper  -->
      <div class="page-wrapper">
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Size Server -->
                    <span class="span-main">Server Size</span><br>
                    <div class="row">
                      <div class="col-md-3" v-for="(serverSize, index) in serverSize" :key="index" v-on:click="animation_serverSize(index)">
                        <div class="card" style="" v-if="serverSize.status === false">
                          <div class="media">
                            <table width="100%">
                              <tr align="center" class="tr-1"> {{serverSize.ssd}} GB SSD</tr>
                              <tr align="center"><hr width="100%" size="1"></tr>
                              <tr align="center" style=""> <span class="span-2"></span> {{serverSize.cpu}} CPU </tr>
                              <tr align="center" style=""> <span class="span-2">{{serverSize.memory}} MB</span> Memory </tr>
                              <tr align="center" style=""> <span class="span-2">{{serverSize.bandwidth}} GB</span> Bandwidth </tr>
                            </table>
                          </div>
                        </div>
                        <div class="card" style="background:linear-gradient(to right, #3333FF, #3399FF);" v-if="serverSize.status === true">
                          <div class="media">
                            <table width="100%">
                              <tr align="center" class="tr-11"> {{serverSize.ssd}} GB SSD</tr>
                              <tr align="center"><hr width="100%" size="1"></tr>
                              <tr align="center" style="color:rgb(187, 189, 192);"> <span class="span-22"></span> {{serverSize.cpu}} CPU </tr>
                              <tr align="center" style="color:rgb(187, 189, 192);"> <span class="span-22">{{serverSize.memory}}MB</span> Memory </tr>
                              <tr align="center" style="color:rgb(187, 189, 192);"> <span class="span-22">{{serverSize.bandwidth}}GB</span> Bandwidth </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div><br>

                    <!-- Type Server -->
                    <span class="span-main">Server Type</span><br>
                    <div class="row">
                      <div class="col-md-3" v-for="(serverType, index) in serverType" :key="index" v-on:click="animation_serverType(index)">
                        <div class="card" v-if="serverType.status === false">
                          <div class="media">
                            <div class="media-left meida media-middle">
                              <span><i :class="serverType.icon"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                              <h5>{{serverType.type}}</h5>
                            </div>
                          </div>
                        </div>
                        <div class="card" style="background:linear-gradient(to right, #3333FF, #3399FF);" v-if="serverType.status === true">
                          <div class="media">
                            <div class="media-left meida media-middle">
                              <span><i class="fas fa-check-circle fa-3x" style="color:white;"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                              <h5 style="color:white;">{{serverType.type}}</h5>
                              <span style="color:white;"><i :class="serverType.icon2"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><br>

                    <!-- Hostname & Lable Server -->
                    <span class="span-main">Server Hostname & Root Password</span><br><br>
                    <b-container class="bv-example-row">
                      <b-row>
                        <b-col cols="6">
                          <div class="wrap2-input100">
                            <input type="text" class="col-lg-12" v-model="orderServer.hostname_label.hostname" placeholder="Enter server hostname">
                          </div>
                        </b-col>
                        <b-col cols="6">
                          <div class="wrap2-input100">
                            <input type="password" class="col-lg-12"
                              id="password" v-model.trim="$v.orderServer.hostname_label.password.$model"
                              aria-describedby="password-help" placeholder="Enter root password">
                          </div>
                          <small id="password-help" class="form-text text-muted">
                            <div v-if="$v.orderServer.hostname_label.password.$error">
                              <div class="text-danger">
                                {{ getPasswordErrorMsg }}
                              </div>
                            </div>
                          </small>
                        </b-col>
                      </b-row>
                    </b-container><br>

                    <!-- <span class="span-main">DNS & SSH KEY</span><br><br> -->
                    <span class="span-main">SSH KEY</span><br><br>
                    <b-container class="bv-example-row">
                      <b-row>
                        <!-- <b-col cols="6">
                          <span>DNS: </span>
                          <span v-if="alert.dns === 0" style="color:red;"> Don't have DNS </span>
                            <span v-else>
                            <select v-model="orderServer.domain" id="domain-selector">
                              <option v-for="dns in dnses" v-bind:value="dns.id">
                                {{ dns.domain }} [{{ dns.ipaddress }}]
                              </option>
                            </select>
                          </span>
                        </b-col> -->
                        <b-col cols="6">
                          <span>SSH KEY: </span>
                            <span v-if="alert.ssh === 0" style="color:red;"> Don't have SSH Key </span>
                            <span v-else>
                              <select v-model="orderServer.sshkey" id="sshkey-selector">
                                <option v-for="sshkey in sshkeys" v-bind:value="sshkey.id">
                                  {{ sshkey.name }}
                                </option>
                              </select>
                            </span>
                        </b-col>
                      </b-row>
                    </b-container><br>

                    <div class="fixed-bottom2">
                      <b-container class="bv-example-row">
                        <b-row>
                          <b-col cols="2"></b-col>
                          <b-col cols="2">
                            Server Qty:
                            <P style="border: 1pt solid; border-radius: 5px; padding: 10px 10px 9px 10px;">
                              <table width="100%">
                                <tr align="center">
                                  <!-- <td><i class="fa fa-minus" v-on:click="counts('minus')"></i></td> -->
                                  <td width="70%" style="color:#0066FF; font-size:15px; font-weight: bold;"> {{orderServer.count}} </td>
                                  <!-- <td><i class="fa fa-plus" v-on:click="counts('plus')"></i></td> -->
                                </tr>
                              </table>
                            </P>
                          </b-col>
                          <b-col cols="2"></b-col>
                          <b-col>
                            <br><button class="col-md-12 btn btn-info" :disabled="$v.$invalid" v-on:click="order(orderServer)"> Deploy Now </button>
                          </b-col>
                          <b-col cols="2"></b-col>
                        </b-row>
                      </b-container>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="modal" id="confirm-order-server" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" style="font-size:30px;">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row default p-5">  
                      <div class="col-md-8"> 
                        <div class="row"> 
                          <div class="col-md-6"> 
                            Server Size 
                          </div> 
                          <div class="col-md-6 Description"> 
                            SSD :   {{ orderServer.sizeServer.ssd }} GB<br> 
                            CPU :   {{ orderServer.sizeServer.cpu }} CPU<br> 
                            Memory :   {{ orderServer.sizeServer.memory }} MB Memory<br> 
                            Bandwidth :   {{ orderServer.sizeServer.bandwidth }} GB Bandwidth <hr> 
                          </div> 
                        </div> 
                        <div class="row"> 
                          <div class="col-md-6"> 
                            Server Type 
                          </div> 
                          <div class="col-md-6 Description"> 
                              {{ orderServer.typeServer.type }} <hr> 
                          </div> 
                        </div> 
                        <div class="row"> 
                          <div class="col-md-6"> 
                            Server Hostname & Password 
                          </div> 
                          <div class="col-md-6 Description"> 
                            Hostname :   {{ orderServer.hostname_label.hostname }} <br> 
                            Password : ************* 
                          </div> 
                        </div> 
                        <div class="row"> 
                          <div class="col-md-6"> 
                            <!-- Domain & SSH KEY  -->
                            SSH KEY
                          </div> 
                          <div class="col-md-6 Description"> 
                            <!-- Domain :   {{ domain_selector }} <br>  -->
                            SSH KEY : {{ sshkey_selector }} 
                          </div> 
                        </div> 
                        <div class="row"> 
                          <div class="col-md-6"> 
                            Server Qty  
                          </div> 
                          <div class="col-md-6 Description"> 
                              {{ orderServer.count  }}
                          </div> 
                        </div> 
                      </div> 
                      <div class="col-md-4"> 
                        <form id="form-confirm-order" v-on:submit.prevent="createServer"> 
                          <!--vmid ควรจะเอาค่ามาจาก database โดยให้ดึง last id จาก table server เอามา 1 !-->
                          <input type="hidden" name="vmid" v-model="vmid" hidden> 
                          <input type="hidden" name="rootfs" v-model="orderServer.sizeServer.ssd" hidden> 
                          <input type="hidden" name="cores" v-model="orderServer.sizeServer.cpu" hidden> 
                          <input type="hidden" name="bwlimit" v-model="orderServer.sizeServer.bandwidth" hidden> 
                          <input type="hidden" name="memory" v-model="orderServer.sizeServer.memory" hidden> 
                          <input type="hidden" name="os" v-model="orderServer.typeServer.value" hidden> 
                          <input type="hidden" name="root_password" v-model="orderServer.hostname_label.password" hidden> 
                          <input type="hidden" name="hostname" v-model="orderServer.hostname_label.hostname" hidden> 
                          <!-- <input type="hidden" name="dns_id" v-model="orderServer.domain" hidden>  -->
                          <input type="hidden" name="sshkey_id" v-model="orderServer.sshkey" hidden> 
                          <input type="hidden" name="user" v-model="user.email" hidden> 
                          <button class="col-md-12 btn btn-info mt-5"> Send order </button> 
                        </form> 
                      </div> 
                    </div> 
                  </div>
                </div>
              </div>
            </div>
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <footer class="footer">
          © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a>
        </footer>
        <!-- End footer -->
      </div>
    <!-- End Body page wrapper  -->
  </div>
</template>
<script>
import App from '../../app.js';
import Header from './header.vue';
import Sidebar from './sidebar.vue';
import { required, minLength } from 'vuelidate/lib/validators';
import swal from 'sweetalert2';
import Axios from 'axios';

export default {
  data () {
    return {
      user: this.$session.getAll(),
      configHeaders: {
        headers: {
          'Accept' : 'application/json',
          'Authorization' : 'Bearer ' + this.$session.get('token'),
        }
      },
      serverSize: [],
      serverType: [
        {
          icon: 'fab fa-linux fa-3x',
          icon2: 'fab fa-linux fa-2x',
          type: 'CentOS 6',
          status: false,
          value: 'centos6',
        },
        {
          icon: 'fab fa-linux fa-3x',
          icon2: 'fab fa-linux fa-2x',
          type: 'CentOs 7',
          status: false,
          value: 'centos7',
        }
      ],
      orderServer: {
        sizeServer: [],
        typeServer: [],
        hostname_label: {
          hostname: '',
          password: ''
        },
        domain: '',
        sshkey: '',
        count: 1,
      },
      // dnses: [],
      // domain_selector: '',
      sshkeys: [],
      sshkey_selector: '',
      is_confirm_order: false,
      button: false,
      vmid: '',
      alert: {
        dns: 1,
        ssh: '',
      }
    }
  },
  components: { Header, Sidebar },
  validations: {
    orderServer: {
      // locationServer: { required },
      typeServer: { required },
      sizeServer: { required },
      // dropdown: { required },
      // select: { required },
      hostname_label: { 
        hostname : { required },
        password: { required, minLength: minLength(6) } 
      },
      // sshkey: {required},
      // domain: {required}
    }
  },
  ready() {},
  created () {
    this.DBserverSize();
    // this.getDNS();
    this.getSSHKEY();
    this.genVmid();
  },
  computed: {
    getPasswordErrorMsg () {
      if(!this.$v.orderServer.hostname_label.password.minLength){
        return 'Password must have at least ' +
          this.$v.orderServer.hostname_label.password.$params.minLength.min + ' letters.';
      }
    },
  },
  methods: {
    genVmid () {
      axios.get('/api/v1/vmid', this.configHeaders)
      .then(Response => {  
        this.vmid = Response.data;
        console.log(this.vmid);
      })
    },
    DBserverSize () {
      axios.get('/api/v1/sizeServer', this.configHeaders)
      .then(Response => {
        var data = []
        for(var i=0; i<Response.data.server.length; i++){
          var memory = Response.data.server[i].memory;
          var cpu = Response.data.server[i].cpu;
          var ssd = Response.data.server[i].ssd; 
          var bandwidth = Response.data.server[i].bandwidth;
          var node = Response.data.node_proxmox;
          
          this.serverSize.push({
            memory: memory,
            cpu: cpu,
            ssd: ssd, 
            bandwidth: bandwidth,
            status: false
          });
        }
      })
    },
    // getDNS() {
      // axios.get('/me/dnses/'+ this.user.email, this.configHeaders)
      // .then(Response => {
      //   this.dnses = [];
      //   var obj = this;
      //   $.each(Response.data, function(key, value) {
      //     obj.dnses.push(value);
      //   });
      //   obj.alert.dns = obj.dnses.length;
      // })
      // .catch(Error => {
      //   console.log("error");
      // });
    // },
    getSSHKEY() {
      axios.get('/me/sshkeys/'+ this.user.email, this.configHeaders)
      .then(Response => {
        this.sshkeys = [];
        var obj = this;
        $.each(Response.data, function(key, value) {
          obj.sshkeys.push(value);
        });
        obj.alert.ssh = obj.sshkeys.length;
        // obj.messageDNSandSSH();
      })
      .catch(Error => {
        console.log("error");
      });
    },
    messageDNSandSSH() {
      if(this.alert.ssh === 0 && this.alert.dns === 0){
        swal({
          title: '',
          text: "You don't have DNS and SSH Key",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'I want create'
        }).then((result) => {
          if (result.value) {
            window.location.href = "/server";
          }
        })
      }
      else if(this.alert.ssh === 0){
        swal({
          title: '',
          text: "You don't have SSH Key",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'I want create SSH Key'
        }).then((result) => {
          if (result.value) {
            window.location.href = "/me/createssh";
          }
        })
      }
      else if(this.alert.dns === 0){
        swal({
          title: '',
          text: "You don't have DNS",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'I want create DNS'
        }).then((result) => {
          if (result.value) {
            window.location.href = "/me/createdns";
          }
        })
      }
    },
    animation_serverSize (index) {
      var data = []
      if(this.serverSize[index].status === false){
        for(var i=0 ; i<this.serverSize.length ; i++){
          this.serverSize[i].status = false
        }
        this.serverSize[index].status = true
        data = {
          memory: this.serverSize[index].memory,
          cpu: this.serverSize[index].cpu,
          ssd: "local-zfs:"+this.serverSize[index].ssd, 
          bandwidth: this.serverSize[index].bandwidth,
        }
        this.orderServer.sizeServer = data
      }
      else if(this.serverSize[index].status === true){
        this.serverSize[index].status = false
        this.orderServer.sizeServer = ''
      }
    },
    animation_serverType (index) {
      var data = []
      if(this.serverType[index].status === false){
        for(var i=0 ; i<this.serverType.length ; i++){
          this.serverType[i].status = false
        }
        this.serverType[index].status = true
        data = {
          icon: this.serverType[index].icon,
          type: this.serverType[index].type,
          value: this.serverType[index].value
        }
        this.orderServer.typeServer = data;
      }
      else if(this.serverType[index].status === true){
        this.serverType[index].status = false
        this.orderServer.typeServer = ''
      }
    },
    counts (parameter) {
      if(parameter === 'minus'){
        if(this.orderServer.count === 1){this.orderServer.count = 1}
        else {this.orderServer.count = this.orderServer.count - 1;}
      }
      if(parameter === 'plus'){this.orderServer.count = this.orderServer.count + 1;}
    },
    order () {
      // this.domain_selector = $("#domain-selector").text().trim();
      this.sshkey_selector = $("#sshkey-selector").text().trim();
      // console.log($("#domain_selector").text().trim());
      $("#confirm-order-server").modal('show');
    },
    createServer() {
      var data = $("#form-confirm-order").serialize();
      axios.post('sendServer', data)
      .then(Response => {
        // console.log(Response.data);
        if(Response.data == "created") {
          swal("Server created.", "", "success")
            .then((value) => {
              window.location.href = "/server";
            });
        }
        else if(Response.data.hostname !== ''){
          swal({
            type: 'error',
            title: 'Oops...',
            text: 'Hostname : ' + Response.data.hostname,
          })
        }
        else{
          swal({
            type: 'error',
            title: 'Oops...',
            text: 'Root Password : ' + Response.data.password,
          })
        }
      })
     .catch(Error => {
      
      })
    },
  }
}
</script>
<style lang="scss">
.swal-wide{
    width:800px;
}
.span-main {
  color:black;
  font-size:20px;
}
.span-down {
  color:#0066FF;
  font-size:15px;
}
.fixed-bottom2 { 
  left: 240px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1030;
  padding: 5px;   
  background: #ffffff none repeat scroll 0 0;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  color: #67757c;
}
.tr-1 {
  color: black;
  font-size: 15px;
  font-weight: bold;
}
.tr-2 {
  color: #0066FF;
}
.span-1 {
  font-size: 25px;
  font-weight: bold;
}
.span-2 {
  font-weight: bold;
}
.tr-11 {
  color: rgb(235, 231, 231);
  font-size: 15px;
  font-weight: bold;
}
.tr-22 {
  color: rgb(255, 255, 255);
}
.span-11 {
  color: rgb(187, 189, 192);
  font-size: 25px;
  font-weight: bold;
}
.span-22 {
  color: rgb(205, 207, 211);
  font-weight: bold;
}
.default{  
  text-align:left;  
  margin-left:15px; 
  color:#3366CC;   
  font-size:15px;  
} 
.Description{  
  color:black; 
  font-size:12px; 
  margin-top:5px; 
}
</style>
<style>
  @import url('../../../../../public/css/from_profile.css');
</style>