<template>
  <div id="main-wrapper">
    <!-- Header -->
      <Header></Header>
    <!-- End header -->
    <!-- Left Sidebar  -->
      <Sidebar></Sidebar>
    <!-- End Left Sidebar  -->
    <!-- Body page wrapper  -->
      <div class="page-wrapper">        
        <!-- Bread crumb -->
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Server</h3>
          </div>
        </div>
        <!-- End Bread crumb -->        
        <!-- Container fluid  -->
        <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row">
            <!-- Column -->
            <div class="col-lg-12">
              <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                  <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#instances" role="tab" v-on:click="getInstances">Instances</a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#dns" role="tab" v-on:click="getDNS">DNS</a> </li>
                  <!--<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#snapshots" role="tab">Snapshots</a> </li>-->
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#ssh" role="tab" v-on:click="getSSH">SSH Key</a> </li>
                  <!--<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#backups" role="tab">Backups</a> </li>-->
                </ul>
                <!-- Tab panes -->
                <div class="tab-content"><br>
                  <!-- Instances -->
                  <div class="tab-pane active" id="instances" role="tabpanel">
                    <div class="card-body">
                      <b-container class="bv-example-row">
                        <b-row class="text-center">
                          <b-col></b-col>
                          <b-col cols="8"></b-col>
                          <b-col>
                            <div>
                              <button class="btn btn-info" style="border-radius: 50%;" 
                                v-on:click="goPage('order')"><i class="fa fa-plus"></i>
                              </button>
                            </div>
                          </b-col>
                        </b-row>
                      </b-container><br>
                      <b-container fluid>
                        <!-- User Interface controls -->
                        <b-row>
                          <!-- Page -->
                          <b-col class="col-lg-4 col-md-5">
                            <b-form-group horizontal label="Show " class="mb-0">
                              <b-form-select :options="pageOptions" v-model="perPage" style="width:50%" />
                            </b-form-group>
                          </b-col>
                          <b-col class="my-1">
                          </b-col>
                          <!-- Search -->
                          <b-col class="col-lg-4 col-md-7">
                            <b-form-group horizontal label="Search :" class="mb-0">
                              <b-input-group>
                                <b-form-input v-model="filter" placeholder="Type to Search" />
                                <b-input-group-append>
                                  <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
                                </b-input-group-append>
                              </b-input-group>
                            </b-form-group>
                          </b-col>
                        </b-row><br>

                        <!-- Main table element -->
                        <b-table show-empty
                                stacked="md"
                                :items="instances"
                                :fields="fields"
                                :current-page="currentPageServer"
                                :per-page="perPage"
                                :filter="filter"
                                @filtered="onFiltered"
                          >
                          <!-- Fields Server -->
                          <template slot="vmid" slot-scope="row">
                            <a href="#" v-on:click="information(row.value.vmid, row.value.location)"> {{row.value.vmid}} </a>
                          </template>
                          <!-- Fields OS -->
                          <template slot="os" slot-scope="row">
                            <i v-if="row.value.os === 'Windows'" class="fa fa-windows" style="color:#0066FF"></i>
                            <i v-if="row.value.os === 'IOS'" class="fa fa-apple"></i>
                            <i v-if="row.value.os === 'Android'" class="fa fa-android" style="color:#00FF00"></i>
                          </template>
                          <!-- Fields Location -->
                          <template slot="location" slot-scope="row">
                            <i v-if="row.value.location === 'Los Angeles'" class="flag-icon flag-icon-us"></i>
                            <i v-if="row.value.location === 'Singapore'" class="flag-icon flag-icon-sg"></i>
                            <i v-if="row.value.location === 'Thailand'" class="flag-icon flag-icon-th"></i>
                            {{row.value.location}}
                          </template>
                          <!-- Fields Charges -->
                          <template slot="charges" slot-scope="row">{{row.value.charges}}</template>
                          <!-- Fields Status -->
                          <template slot="status" slot-scope="row">
                            <div v-if="row.value.status === 'running'" style="color:green">
                              <i class="fa fa-circle"></i> {{row.value.status}}
                            </div>
                            <div v-if="row.value.status === 'stopped'" style="color:red">
                              <i class="fa fa-circle"></i> {{row.value.status}}
                            </div>
                          </template>
                          <!-- Fields Actions -->
                          <template slot="actions" slot-scope="row">
                            <!-- <b-button variant="warning" @click="edit(row.value.id)"><i class="fa fa-pencil" aria-hidden="true"></i></b-button> -->
                              <b-dropdown  variant="link" size="lg" no-caret>
                                <template slot="button-content">
                                  <i class="fa fa-ellipsis-h"></i>
                                </template>
                                <b-dropdown-item href="#" v-on:click="consoleServer(row.value.actions)"><i class="fa fa-tv"><span>&nbsp;&nbsp;View Console</span></i></b-dropdown-item>
                                <b-dropdown-item href="#" v-on:click="startServer(row.value.actions)"><i class="fa fa-refresh"><span>&nbsp;&nbsp;&nbsp;Server start</span></i></b-dropdown-item>
                                 <b-dropdown-item href="#" v-on:click="stopServer(row.value.actions)"><i class="fa fa-power-off"><span>&nbsp;&nbsp;&nbsp;Server Stop</span></i></b-dropdown-item>
                                <b-dropdown-item href="#" v-on:click="resetServer(row.value.actions)"><i class="fa fa-hdd-o"><span>&nbsp;&nbsp;&nbsp;Server Reset</span></i></b-dropdown-item>
                                <b-dropdown-item href="#" v-on:click="reinstallServer(row.value.actions)"><i class="fa fa-hdd-o"><span>&nbsp;&nbsp;&nbsp;Server Re-Install</span></i></b-dropdown-item>
                                <b-dropdown-item href="#" v-on:click="destroyServer(row.value.actions)"><font color="red"><i class="fa fa-trash"><span>&nbsp;&nbsp;&nbsp;Server Destroy</span></i></font></b-dropdown-item>
                              </b-dropdown>
                          </template>
                        </b-table><br><br>

                        <b-row>
                          <b-col md="12" class="my-1">
                            <b-pagination style="float:right;" :total-rows="totalServerRows" :per-page="perPage" v-model="currentPageServer" class="my-0" />
                          </b-col>
                        </b-row>

                      </b-container>

                    </div>
                  </div>
                  <!-- DNS -->
                  <div class="tab-pane" id="dns" role="tabpanel">
                    <div class="card-body">             
                      <b-container fluid>
                        <!-- Button Add Domain -->
                        <b-row>
                          <b-col md="12" class="my-1">
                            <button type="submit" v-on:click="goPage('dns')" class="btn btn-info"> Add Domain </button>
                          </b-col>
                        </b-row><br>
                        <!-- Table list Domain -->
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Domain</th>
                                <th>Date Create</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="dns in dnses">
                                <td>{{ dns.domain }} [{{ dns.ipaddress }}]</td>
                                <td>{{ dns.created_at }}</td>
                                <td>
                                  <a class="btn btn-warning btn-sm" href="javascript:void(0);" role="button" v-on:click="editDNS(dns)"><i class="fa fa-pencil"></i></a> 
                                  <a class="btn btn-danger btn-sm" href="javascript:void(0);" role="button" v-on:click="deleteDNS(dns)"><i class="fa fa-trash"></i></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </b-container>
                    </div>
                  </div>
                  <!-- Snapshots -->
                  <div class="tab-pane" id="snapshots" role="tabpanel">
                    <div class="card-body">
                      <b-row>
                        <b-col md="5" class="my-1"></b-col>
                        <b-col md="7" class="my-1"></b-col>
                      </b-row><br>
                      <b-row>
                        <b-col md="3" class="my-1"></b-col>
                        <b-col md="7" class="my-1">
                          <div class="tab-content tab-pane active">
                            <h4 style="color:black;">Take a snapshot of an active server</h4>
                            <br>
                            <div class="wrap-input100 bg0 rs1-wrap-input80">
                              <span class="label-input100">Server</span>
                              <br>
                              <multiselect v-model="value" :options="options" :custom-label="nameWithLang" class="input100 selectpicker dropdown-toggle" placeholder="arnon-free- 8192 MB VPS - 45.77.249.254" label="name" track-by="name"></multiselect>
                            </div>

                            <div class="form-row">
                              <div class="wrap-input100 col-md-6">
                                <input type="text" class="col-lg-12" placeholder="Label">
                              </div>

                              <div class="form-group col-md-6">
                                <button type="button" class="btn btn-info contact100-form-btn"> Take Snapshot </button>
                              </div>
                            </div>

                            <div class="col-lg-12">
                              <i class="fa fa-circle" aria-hidden="true"></i>&nbsp;
                                Stored snapshots are currently free - pricing subject to change. <br>
                              <i class="fa fa-circle" aria-hidden="true"></i>&nbsp;
                                We recommend changing each machine to use DHCP for networking. <br>
                              <i class="fa fa-circle" aria-hidden="true"></i>&nbsp;
                                Snapshots can only be restored to equal or bigger disks if there is a single partition it will be automatically expanded.<br><br><br>
                            </div>
                          </div>
                        </b-col>
                        <b-col md="2" class="my-1"></b-col> 
                      </b-row>
                    </div> 
                  </div>
                  <!-- SSH Key -->
                  <div class="tab-pane" id="ssh" role="tabpanel">
                    <div class="card-body">
                      <b-container fluid>
                        <!-- Button Add Domain -->
                        <b-row>
                          <b-col md="12" class="my-1">
                            <button v-on:click="goPage('ssh')" class="btn btn-info"> Add SSH Key </button>
                          </b-col>
                        </b-row><br>
                        <!-- Table list Domain -->
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Date Create</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="sshkey in sshkeys">
                                <td>{{ sshkey.name }}</td>
                                <td>{{ sshkey.created_at }}</td>
                                <td>
                                  <a class="btn btn-warning btn-sm" href="javascript:void(0);" role="button" v-on:click="editSSH(sshkey)"><i class="fa fa-pencil"></i></a> 
                                  <a class="btn btn-danger btn-sm" href="javascript:void(0);" role="button" v-on:click="deleteSSH(sshkey)"><i class="fa fa-trash"></i></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </b-container>
                    </div>
                  </div>
                  <!-- Backups -->
                  <div class="tab-pane" id="backups" role="tabpanel">
                    <div class="card-body">
                      <b-container fluid>
                        <br>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>OS</th>
                                <th>&nbsp;&nbsp;Size&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>&nbsp;&nbsp;Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>&nbsp;&nbsp;Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>auto-backup 45.32.110.27 rankaame</td>
                                <td><a href="#"><i class="fa fa-cog"></i></a></td>
                                <td>17.78 GB</td>
                                <td>2018-10-15 06:02:21</td>
                                <td>
                                  <p><font color="red"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;down</font></p>
                                </td>
                                <td>
                                  <a href="#"><i class="fa fa-trash"></i></a>
                                </td>
                              </tr>
                              <tr>
                                <td>auto-backup 45.76.163.148 ionsoap.me</td>
                                <td><a href="#"><i class="fa fa-cog"></i></a></td>
                                <td>16.46 GB</td>
                                <td>2018-10-25 03:22:23</td>
                                <td>
                                  <p><font color="red"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;down</font></p>
                                </td>
                                <td>
                                  <a href="#"><i class="fa fa-trash"></i></a>
                                </td>
                              </tr>
                              <tr>
                                <td>auto-backup 45.32.104.150 vps.kaakai.me</td>
                                <td><a href="#"><i class="fa fa-cog"></i></a></td>
                                <td>5 GB</td>
                                <td>2018-10-21 22:10:20</td>
                                <td>
                                  <p><font color="green"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;running</font></p>
                                </td>
                                <td>
                                  <a href="#"><i class="fa fa-trash"></i></a>
                                </td>
                              </tr>
                              <br><br>
                              <h4>Using Backups</h4>
                              &nbsp;&nbsp;&nbsp;<i class="fa fa-circle" aria-hidden="true"></i>&nbsp;
                              Use our daily backups feature to automatically backup your instances.<a href="#">Read more about backups here.</a> <br><br>
                            </tbody>
                          </table>
                        </div>
                      </b-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
          </div>
          <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
        <!-- End footer -->
      </div>
    <!-- End Body page wrapper  -->
  </div>
</template>
<script>
import App from '../../app.js';
import Header from './header.vue';
import Sidebar from './sidebar.vue';
import Multiselect from 'vue-multiselect';
import swal from 'sweetalert2';

const instances = []

export default {
  data () {
    return {
      user: this.$session.getAll(),
      configHeaders: {
        headers: {
          'Accept' : 'application/json',
          'Authorization' : 'Bearer ' + this.$session.get('token'),
        }
      },
      // tap Instances
      is_load_instances: true,
      instances:[],
      fields: [
        { key: 'vmid', label: 'Vmid', 'class': 'text-center', sortable: true, sortDirection: 'desc' },        
        //{ key: 'os', label: 'OS', 'class': 'text-center', sortable: true, sortDirection: 'desc'  },        
        { key: 'location', label: 'Location', 'class': 'text-center', sortable: true, sortDirection: 'desc'  },
        //{ key: 'charges', label: 'Charges', 'class': 'text-center', sortable: true, sortDirection: 'desc'  },
        { key: 'status', label: 'Status', 'class': 'text-center', sortable: true, sortDirection: 'desc'  },
        { key: 'actions', label: 'Actions', 'class': 'text-center' }
      ],
      currentPageServer: 1,
      currentPage: 1,
      perPage: 5,
      totalServerRows: instances.length,
      pageOptions: [ 5, 10, 15, ],
      filter: null,
      modalInfo: { title: '', content: '' },
      // tap Snapshots
      value: { name: ''},
      options: [
        { name: 'combot.me - 2048 MB VPS - 45.77.169.146'},
        { name: 'download-1 4096 MB VPS - 149.28.68.71'},
        { name: 'download-2 4096 MB VPS - 149.28.79.205'},
        { name: 'arnon-free- 8192 MB VPS - 45.77.249.254'}
      ],
      'dnses': [],
      'sshkeys': []
    }
  },
  components: { Header, Sidebar, Multiselect },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
  },
  mounted () {
    var obj = this;
    setInterval(function() {
      if(obj.is_load_instances) {
        console.log("loadinstances");
        obj.instancesList();
      }else{
        console.log("Close real time instances");
      }
    }, 5000);
  },
  ready() {},
  created () {
    this.instancesList();
    this.FK_server();
  },
  methods: {
    nameWithLang ({name}) {
      return `${name}`
    },
    info (item, index, button) {
      this.modalInfo.title = `Row index: ${index}`
      this.modalInfo.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalServerRows = filteredItems.length
      this.currentPageServer = 1
    },
    FK_server () {
      axios.get('/api/v1/user_id/'+ this.user.email, this.configHeaders)
      .then(Response => {
      })
      .catch(Error => {
      })
    },
    goPage (key) {
      if(key === 'order'){location.href = "/me/order";}
      if(key === 'dns'){location.href = "/me/createdns";}
      if(key === 'ssh'){location.href = "/me/createssh";}
    },
    getInstances () {
      this.is_load_instances = true
    },
    // Instances
    instancesList () {
      axios.get('instances/'+ this.user.email, this.configHeaders)
      .then(Response => {
        var proxmox = Response.data.proxmox[0].data;
        var user_use = Response.data.user_use;

        var data = [];
        var information = [];
        var os = ['Windows', 'IOS', 'Android'];
        var location = 'Thailand';
        var vmid = '';
        var status = '';
        for (var u = 0; u < user_use.length; u++) {
          for (var p = 0; p < proxmox.length; p++) {
            // ถ้าเหมือนกัน จะเก็บค่า proxmox
            if(proxmox[p].vmid == user_use[u].vmid){
              vmid = proxmox[p].vmid;
              status = proxmox[p].status;
              var charges = '$' + Math.round( Math.random() * 1000 ) + '.' + Math.round( Math.random() * 100 );
              data = {
                'vmid': {
                  'vmid': vmid,
                  'location': location
                },
                'os': {
                  'os': os[Math.floor(Math.random() * 3)]
                },
                'location': {
                  'location': location
                },
                'charges': {
                  'charges': charges
                },
                'status': {
                  'status': status
                },
                'actions': {
                 'actions': vmid
                },
              }
              information.push(data);
            }
          }
          this.instances = information;
        }

        if(information.length < 1) {
          this.instances = [];
        }

      })
      .catch(Error => {
        console.log(Error.Response.data);
      })
    },
    information (ip, locationServer) {
      this.$session.start();
      this.$session.set('vmid', ip);
      this.$session.set('location', locationServer);
      location.href = '/information';
    },
    startServer (vmid) {
      axios.post('startServer/' + vmid, this.configHeaders)
      .then(Response => {
        if(Response.data == "started") {
          this.instancesList();
        }
      })
      .catch(Error => {
      })
    },
    stopServer (vmid) {
      axios.post('stopServer/' + vmid, this.configHeaders)
      .then(Response => {
        if(Response.data == "stopped") {
          this.instancesList();
        }
      })
      .catch(Error => {
      })
    },
    resetServer (vmid) {
      this.stopServer(vmid);
      var obj = this;
      setTimeout(function() {
        obj.startServer(vmid);
      }, 3000);
    },
    reinstallServer (vmid) {
      swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.value) {
          this.stopServer(vmid);
          var obj = this;
          setTimeout(function() {
            axios.post('me/recreateServer/'+vmid, this.configHeaders)
            .then(Response => {
              console.log(Response.data);
              if(Response.data == "created") {
                swal("Server Re-created.", "", "success");
                obj.instancesList();
              }
            })
           .catch(Error => {
            
            })
          }, 3000);
        }
      });
    },
    destroyServer (vmid) {
      swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.value) {
          this.stopServer(vmid);
          setTimeout(function() {
            axios.delete('destroyServer/' + vmid, this.configHeaders)
            .then(Response => {
              console.log(Response.data);
              if(Response.data == "deleted") {
                this.instancesList();
              }
            })
            .catch(Error => {
            })
          }, 3000);
        }
      });
    },
    consoleServer (vmid) {
      axios.post('consoleServer/' + vmid, this.configHeaders)
      .then(Response => {
        window.open(Response.data, '_blank');
      })
      .catch(Error => {
      })
    },
    // DNS
    getDNS() {
      this.is_load_instances = false
      axios.get('/me/dnses/'+ this.user.email, this.configHeaders)
      .then(Response => {
        this.dnses = [];
        var obj = this;
        $.each(Response.data, function(key, value) {
          obj.dnses.push(value);
        });
      })
      .catch(Error => {
        console.log("error");
      });
    },
    editDNS(dns_info) {
      location.href = "/me/editdns/"+dns_info.id;
    },
    deleteDNS(dns_info) {
      swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.value) {
          axios.delete('/me/deletedns/'+ dns_info.id, this.configHeaders)
          .then(Response => {
            if(Response.data == "deleted") {
              this.getDNS();
            }
          })
          .catch(Error => {
            console.log("error");
          });
        }
      });
    },
    // SSH
    getSSH () {
      this.is_load_instances = false
      axios.get('/me/sshkeys/'+ this.user.email, this.configHeaders)
      .then(Response => {
        this.sshkeys = [];
        var obj = this;
        $.each(Response.data, function(key, value) {
          obj.sshkeys.push(value);
        });
      })
      .catch(Error => {
        console.log("error");
      });
    },
    editSSH(sshkey) {
      location.href = "/me/editssh/"+sshkey.id;
    },
    deleteSSH(sshkey) {
      swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.value) {
          axios.delete('/me/deletessh/'+ sshkey.id, this.configHeaders)
          .then(Response => {
            if(Response.data == "deleted") {
              this.getSSH();
            }
          })
          .catch(Error => {
            console.log("error");
          });
        }
      });
    },
  }
}
</script>
<style>
  @import url('../../../../../public/css/from_profile.css');
</style>