<template>
  <div id="main-wrapper">
    <!-- Header -->
      <Header></Header>
    <!-- End header -->
    <!-- Left Sidebar  -->
      <Sidebar></Sidebar>
    <!-- End Left Sidebar  -->
  </div>
</template>
<script>
import App from '../../app.js';
import Header from './header.vue';
import Sidebar from './sidebar.vue';
export default {
  components: { Header, Sidebar }
}
</script>