<template>
  <div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav"  v-if="role === 'user'">
          <li class="nav-devider"></li>
          <li><a href="/server"><i class="fa fa-server"></i><span class="hide-menu">Server</span></a></li>
          <!-- <li><a href="#"><i class="fa fa-credit-card-alt"></i><span class="hide-menu">Billing</span></a></li>
          <li><a href="#"><i class="fa fa-envelope-o"></i><span class="hide-menu">Support</span></a></li>
          <li><a href="#"><i class="fa fa-money"></i><span class="hide-menu">Affiliate</span></a></li> -->
          <li><a href="/me/profile"><i class="fa fa-user-o"></i><span class="hide-menu">Account</span></a></li>
        </ul>
        <ul id="sidebarnav" v-else>
          <li class="nav-devider"></li><br>
          <li> 
            <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-users"></i>
              <span class="hide-menu"> Users <span class="label label-rouded label-primary pull-right"> {{users.length}} </span> </span>
            </a>
            <ul aria-expanded="false" class="collapse">
              <div v-for="(user, index) in users" :key="index">
                <li><a :href="'/' + user"> {{user.toUpperCase().charAt(0) + user.substring(1)}} </a></li>
              </div>
            </ul>
          </li>
          <li> 
            <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-list"></i>
              <span class="hide-menu"> Lists <span class="label label-rouded label-success pull-right"> {{lists.length}} </span> </span>
            </a>
            <ul aria-expanded="false" class="collapse">
              <div v-for="(list, index) in lists" :key="index">
                <li><a :href="'/' + list"> {{list.toUpperCase().charAt(0) + list.substring(1)}} </a></li>
              </div>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </div>
</template>
<script>
export default {
  data () {
    return {
      user: this.$session.getAll(),
      role: {},
      configHeaders: {
        headers: {
          'Accept' : 'application/json',
          'Authorization' : 'Bearer ' + this.$session.get('token'),
        }
      },
      users:[
        'role'
      ],
      lists:[
        'list'
      ],
    }
  },
  created () {
    this.rolePreple();
  },
  methods: {
    rolePreple () {
      axios.get('/api/v1/userShowprofile/' + this.user.email, this.configHeaders)
      .then(Response => {
        this.role = Response.data.role_name
      })
    },
  }
}
</script>