<template>
  <div id="main-wrapper">
    <!-- Header -->
      <Header></Header>
    <!-- End header -->
    <!-- Left Sidebar  -->
      <Sidebar></Sidebar>
    <!-- End Left Sidebar  -->
    <!-- Body page wrapper  -->
      <div class="page-wrapper">
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <div class="form-validation">
                      <div class="form-group row">
                        <div class="col-lg-12" v-if="sshkeyInfo == ''">
                          <input type="text" v-model="data.name" class="form-control" id="val-username" name="val-username" placeholder="Name"><br>
                          <textarea class="form-control" v-model="data.ssh_key" id="val-suggestions" name="val-suggestions" rows="5" placeholder="SSH Key"></textarea><br>
                          <button v-on:click="addSSH" :disabled="$v.$invalid"  class="btn btn-info" style="width:100%"> Add SSH Key </button>
                        </div>
                        <div class="col-lg-12" v-if="sshkeyInfo != ''">
                          <input type="text" v-model="data.name" class="form-control" id="val-username" name="val-username" placeholder="Name"><br>
                          <textarea class="form-control" v-model="data.ssh_key" id="val-suggestions" name="val-suggestions" rows="5" placeholder="SSH Key"></textarea><br>
                          <button v-on:click="editSSH(sshkeyInfo.id)" :disabled="$v.$invalid" class="btn btn-info" style="width:100%"> Edit SSH Key </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
        <!-- End footer -->
      </div>
    <!-- End Body page wrapper  -->
  </div>
</template>
<script>
import App from '../../app.js';
import Header from './header.vue';
import Sidebar from './sidebar.vue';
import { required } from 'vuelidate/lib/validators';
import swal from 'sweetalert2';
import Axios from 'axios';

export default {
  data () {
    return {
      user: this.$session.getAll(),
      configHeaders: {
        headers: {
          'Accept' : 'application/json',
          'Authorization' : 'Bearer ' + this.$session.get('token'),
        }
      },
      data: {
        name: "",
        ssh_key: "",
        email: this.$session.getAll().email
      },
      sshkeyInfo: this.sshkey_info
    }
  },
  components: { Header, Sidebar },
  methods: {
    addSSH () {
      axios.post('/me/addssh', this.data)
      .then(Response => {
        if(Response.data == "created") {
          swal("SSH KEY created.", "", "success")
            .then((value) => {
              window.location.href = "/server";
            });
        }
      })
     .catch(Error => {
      
      })
    },
    editSSH(id) {
      axios.put('/me/updatessh/'+id, this.data)
      .then(Response => {
        if(Response.data == "updated") {
          swal("SSHKEY updated.", "", "success")
            .then((value) => {
              window.location.href = "/server";
            });
        }
      })
     .catch(Error => {
      
      })
    }
  },
  validations: {
    data: {
      // locationServer: { required },
      name: { required },
      ssh_key: { required },
    }
  },
  props: ['sshkey_info'],
  mounted() {
    if(this.sshkeyInfo != undefined) {
      this.sshkeyInfo = JSON.parse(this.sshkeyInfo);
      this.data.name = this.sshkeyInfo.name;
      this.data.ssh_key = this.sshkeyInfo.ssh_key;
      console.log(this.sshkeyInfo);
    } else {
      this.sshkeyInfo = "";
    }
  },
}
</script>