
// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Prompt", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// color
$font-gray: #6c757d !default;
$font-gray-hover: #495057 !default;