@import "variables";

.col-centered { 
  margin: 0 auto;
  display: block;
}
#home-page {
  width: 100%;
  .navbar {
    background-color: transparent;
    width: auto;
    box-shadow: none;
    .signup-btn {
      border: 1px solid #000;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}