@import "variables";

.col-centered { 
  margin: 0 auto;
  display: block;
}
#login-page {
  width: 100%;
  .navbar {
    background-color: transparent;
    width: auto;
    box-shadow: none;
    .signup-btn {
      border: 1px solid #000;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  #login-section { 
    margin-top: 5%; 
    a {
      color: $font-gray;
      text-decoration: none;
      &:hover { color: $font-gray-hover; }
    }
    #login-form {
      .form-group {
        input.form-control {
          border: 0;
          border-bottom: 2px solid;
          border-radius: 0;
          padding: 20px 5px;
          font-size: 18px;
        }
        input.form-control:focus { box-shadow: none; }
      }
      button.btn-submit {
        width: 100%;
        margin-top: 15px;
        padding: 15px;
        border-radius: 0px;
        font-size: 18px;
      }
    }
  }
}